<div class="modal fade registrationFormBox" ng-controller="registarionCtrl">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" class="closeIcon" data-dismiss="modal" aria-hidden="true" ng-click="close('Cancel')" ng-click="modalShown=false">
                    Close
                </a>
                <h4 class="modal-title" id="myModalLabel">
                 VMware vCenter Log insight End User Licence Agreement
               </h4>
            </div>
            
            <div class="modal-body">
                <p>VMware vCenter Log insight End User Licence Agreement VMware vCenter Log insight End User Licence Agreement VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
                <p>VMware vCenter Log insight End User Licence Agreement</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="vmf-btn vmf-secondary pull-left printBtn" data-dismiss="modal" ng-click="print()">
                    Print
                </button>

                <button type="button" class="vmf-btn vmf-primary okBtn" ng-click="okModal()">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>



