
vmf-tabs .tab-content, vmf-tabsone .tab-content, vmf-tabstwo .tab-content{
   padding:16px 0px;
}

vmf-tabstwo .vmfTab2 span{
    float: left; 
    vertical-align:top; 
    font-weight:bold;
}

vmf-tabstwo .nav li{
  border:1px solid #ccc;
} 

.vmfTab ul li a:hover, .vmfTab ul li a.activeState, .vmfTab ul li a.activeState:hover {
color: #FFF;
background: #333333;
background-image: -webkit-linear-gradient(top, #333333, #666666);
background-image: -webkit-linear-gradient(bottom, #333333, #666666);
background-image: linear-gradient(to top, #333333, #666666);
}
.vmfTab1 ul li a:hover, .vmfTab1 ul li a.activeState, .vmfTab1 ul li a.activeState:hover {
background: #0095D3;
color: #fff;
}
.vmfTab2 {
     .tab_head_txt {
        font-family:$font-stackSemiBold;
        font-size: 22px; 
        color: #333; 
        padding:0 15px 0 15px;
        *line-height:22px;
        margin-top:10px; 
    }
    ul{
    	height:35px;
    	margin-bottom:25px; 
    }
    padding-bottom:25px;
}
 
vmf-tabsone ul, vmf-tabsone ul li a{ 
     margin-bottom:0px;  
     line-height:10px\9;
}

.tab-pane{
  padding: 16px 0px;
}
vmf-tabsone .tab-content, vmf-tabstwo .tab-content{
 	padding:0px;
 	
}
vmf-tabs .vmfTab li a{
	height:auto;
}

.collapse {
    display: block;
    visibility: visible;
}
.collapse.in {
    display: block;
    visibility: visible;
}

.vmfTab  .navbar-header {
         display: none;   
    }
    .navbar-collapse {
        border-top:0;
        padding-top:0;
        padding-bottom: 0;
    }
    .vmfTab  ul li, .vmfTab ul,.vmfTab  ul li a{
        float:left;
        width:auto;
    }
    