<!--Tab Navigation component code -->

<vmf-tabs>
    <vmf-pane tabno='Overview' listlabel="Overview" link='javascript: void(0);'>
        <div style="width: auto; background-color: #CCC; color: #888; padding: 16px;">
            <h4>Overview</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi ante, auctor varius cursus eget, pretium non quam. Phasellus in mauris eget risus hendrerit pulvinar. Aenean efficitur gravida enim vitae commodo. Vivamus tristique sem nec dui venenatis, at egestas arcu consequat. Sed semper, ex eget faucibus iaculis, ex nisl scelerisque orci, vel ultricies ante lacus at purus. Quisque laoreet aliquet erat, non consectetur augue commodo eget. Aliquam accumsan dapibus lorem et tempor. Duis at ligula consequat, maximus diam ac, bibendum enim. Pellentesque ligula enim, sodales non nisl nec, convallis commodo augue.</p>
        </div>
    </vmf-pane>
    <vmf-pane tabno='Features' listlabel="Features" link='javascript: void(0);'>
        <div style="width: auto; background-color: #CCC; color: #888; padding: 16px;">
            <h4>Features</h4>
            <p>Nullam id dignissim libero. Ut viverra non neque sit amet iaculis. Quisque facilisis elementum laoreet. Quisque tristique magna a diam mollis, id luctus ipsum rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis purus sem, dictum vitae euismod at, rutrum eu erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ut erat nec nibh ultrices maximus sit amet ac odio. Ut ac elementum tortor. Curabitur pellentesque massa nec fermentum tincidunt. Integer consequat nisl diam, placerat faucibus dolor posuere gravida. Praesent euismod tempor ante at auctor. Etiam malesuada vel risus eget laoreet. Duis pulvinar diam vitae lacus tempor scelerisque.</p>
        </div>
    </vmf-pane>
    <vmf-pane tabno='Resources' listlabel="Resources" link='javascript: void(0);'>
        <div style="width: auto; background-color: #CCC; color: #888; padding: 16px;">
            <h4>Resources</h4>
            <p>Donec massa risus, hendrerit vel ligula a, imperdiet luctus risus. Nulla non massa vel eros ultrices faucibus vitae eu tortor. Vivamus dignissim facilisis quam id tristique. In hac habitasse platea dictumst. Fusce porta elit sed massa pellentesque aliquam. Curabitur ultricies diam sed ante sollicitudin, ac consectetur eros faucibus. Integer a enim elementum, bibendum elit sit amet, ultrices eros. Nulla facilisi. Integer viverra tortor felis. In dapibus nisl quis nisl tincidunt iaculis. Nulla eu metus arcu. Integer sodales nibh at ligula imperdiet ultrices. Donec tempus, enim vel vehicula gravida, ipsum ante vehicula elit, sit amet efficitur felis felis faucibus orci. Vestibulum sit amet mauris nec elit egestas fringilla non non ante.</p>
            <p><a href ng-click='i = i + 1'>counter: {{i || 0}}</a>
            </p>
        </div>
    </vmf-pane>
    <vmf-pane tabno='Purchasing' listlabel="Purchasing" link='javascript: void(0);'>
        <div style="width: auto; background-color: #CCC; color: #888; padding: 16px;">
            <h4>Purchasing</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi ante, auctor varius cursus eget, pretium non quam. Phasellus in mauris eget risus hendrerit pulvinar. Aenean efficitur gravida enim vitae commodo. Vivamus tristique sem nec dui venenatis, at egestas arcu consequat. Sed semper, ex eget faucibus iaculis, ex nisl scelerisque orci, vel ultricies ante lacus at purus. Quisque laoreet aliquet erat, non consectetur augue commodo eget. Aliquam accumsan dapibus lorem et tempor. Duis at ligula consequat, maximus diam ac, bibendum enim. Pellentesque ligula enim, sodales non nisl nec, convallis commodo augue.</p>
        </div>
    </vmf-pane>
</vmf-tabs>
<vmf-tabsone>
    <vmf-paneone tabno='Tab-1' listlabel='Tab 1' link='javascript: void(0);'>
        <div style="width: auto; background-color: #CCC; color: #888; padding: 16px;">
            <h4>Tab1</h4>
            <p>Sed hendrerit felis quam, quis condimentum odio volutpat vitae. Pellentesque nec velit nulla. Nam placerat est augue, eget vulputate justo consequat ullamcorper. Suspendisse vel tempus sem. Ut pretium dapibus sapien, quis finibus enim tristique eget. Duis pulvinar diam non erat vestibulum, ut pretium lectus consectetur. Nulla tincidunt mauris ut sapien euismod dapibus. In vel nibh quis tortor rhoncus fringilla vel ut urna.</p>
        </div>
    </vmf-paneone>
    <vmf-paneone tabno='Tab-2' listlabel='Tab 2' link='javascript: void(0);'>
        <div style="width: auto; background-color: #CCC; color: #888; padding: 16px;">
            <h4>Tab2</h4>
            <p>Mauris ultrices velit blandit, suscipit felis ac, eleifend risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse bibendum massa ac dui semper, id commodo dui vehicula. Nulla quis pellentesque leo, in posuere sapien. Aenean consectetur orci ut risus egestas, quis convallis arcu fringilla. Sed sit amet dolor at ipsum ultricies pretium a non metus. Donec eu diam est. Aenean eleifend augue et ullamcorper ultrices. Vivamus elementum condimentum odio. Aliquam blandit, leo id tristique sollicitudin, lorem purus facilisis est, vitae aliquam ante lorem vitae risus.</p>
            <p><a href ng-click='i = i + 1'>counter: {{i || 0}}</a>
            </p>
        </div>
    </vmf-paneone>
</vmf-tabsone>

<vmf-tabstwo labelmessage="Find Products">
    <vmf-panetwo tabno='Tab-1' listlabel='By Category' link='javascript: void(0);'>
        <div style="width: auto; background-color: #CCC; color: #888; padding: 16px;">
            <h4>By Category</h4>
            <p>Sed hendrerit felis quam, quis condimentum odio volutpat vitae. Pellentesque nec velit nulla. Nam placerat est augue, eget vulputate justo consequat ullamcorper. Suspendisse vel tempus sem. Ut pretium dapibus sapien, quis finibus enim tristique eget. Duis pulvinar diam non erat vestibulum, ut pretium lectus consectetur. Nulla tincidunt mauris ut sapien euismod dapibus. In vel nibh quis tortor rhoncus fringilla vel ut urna.</p>
        </div>
    </vmf-panetwo>
    <vmf-panetwo tabno='Tab-2' listlabel='Products A-Z' link='javascript: void(0);'>
        <div style="width: auto; background-color: #CCC; color: #888; padding: 16px;">
            <h4>Products A-Z</h4>
            <p>Mauris ultrices velit blandit, suscipit felis ac, eleifend risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse bibendum massa ac dui semper, id commodo dui vehicula. Nulla quis pellentesque leo, in posuere sapien. Aenean consectetur orci ut risus egestas, quis convallis arcu fringilla. Sed sit amet dolor at ipsum ultricies pretium a non metus. Donec eu diam est. Aenean eleifend augue et ullamcorper ultrices. Vivamus elementum condimentum odio. Aliquam blandit, leo id tristique sollicitudin, lorem purus facilisis est, vitae aliquam ante lorem vitae risus.</p>
            <p><a href ng-click='i = i + 1'>counter: {{i || 0}}</a>
            </p>
        </div>
    </vmf-panetwo>
</vmf-tabstwo>