<!--UI shell component-->
<div ng-controller="uiShellCtrl">
    <div class="pageContainer container-fluid">
        <div class="row">
            <div class="col-sm-12 noPadding">
                <div class="vmf-UtilityNavContainer">
                    Utility Navigation
                </div>
            </div>
        </div>
        <div class="row globalZindex">
            <div class="col-sm-12 noPadding ">
                <div class="vmf-gridGlobalNavContainer nav-color">
                    <a class="vmf-utilityLogo noPadding" href="javascript:void(0)"></a>
                    Global Navigation
                </div>
            </div>
        </div>
        <div class="row vmf-GridMainContainer">
            <div class="col-xs-12 col-md-8 noPadding">
                <div class="vmf-heroContent">
                    Main Content
                </div>
            </div>
            <div class="col-xs-12 col-md-4 noPadding">
                <div class="vmf-quickLinks">
                    Quick Links
                </div>
            </div>
        </div>

        <div class="row vmf-GridSectionContainer">
            <div class="col-sm-12 col-md-4 noPadding">
                <div class="vmf-GridIntrdctn">
                    Introduction
                </div>
            </div>
            <div class="col-sm-12 col-md-4 noPadding">
                <div class="vmf-GridProducts">
                    Featured Products
                </div>
            </div>
            <div class="col-sm-12 col-md-4 noPadding">
                <div class="vmf-GridOverview">
                    Company Overview
                </div>
            </div>
            <!-- Social media block starts -->
            <div ng-controller="socialMediaController">
                <!--<div style="height:200px">This div has been included for showcase purpose-->
                <vmf-social-media config="config" position="positionClass">
                </vmf-social-media>
                <!--</div>-->
            </div>
        </div>
        <div class="row vmf-GridFooterContainer">
            <div class="col-sm-12 noPadding">
                Footer
            </div>
        </div>

    </div>

    <br />
    <br />

    <div class="pageContainer container-fluid">
        <div class="row">
            <div class="col-sm-12 noPadding ">
                <div class="vmf-UtilityNavContainer">
                    Utility Navigation
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 noPadding ">
                <div class="vmf-GlobalNavContainer nav-color">
                    <a class="vmf-utilityLogo noPadding" href="javascript:void(0)"></a>
                    Global Navigation
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 noPadding">
                <div class="vmf-MainContainer">
                    <div class="vmf-mainContent">
                        Main Content
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 noPadding ">
                <div class="vmf-FooterContainer">
                    Footer
                </div>
            </div>
        </div>
    </div>
</div>

