.custom-checkbox {
    display:block;
    line-height:18px;
    font-family: $font-stack;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom:0px;
    position:relative;
    padding-left:28px;
    .toolTip-icon {
        margin-top:0px;
    }
    &:first-child {
        margin-top:0px;
    }
    &.selected {
        .customCheckBox {
            background-position: 0 0;
            &.disabled {
                background-position: -226px 0;
            }
        }
    }
    &.disabledColor {
        color: $label-disabled-Color;
    }
    &.disabled {
        color: $label-disabled-Color;
        .customCheckBox {
            background-position: bottom left;
        }
    }
    input[type="checkbox"] {
        _noFocusLine: expression(this.hideFocus=true);
        @include vmf-custom-opacity(0);
        outline: none;
    }
    .customCheckBox {
        width: 18px;
        height: 18px;
        display: inline-block;
        z-index: 1;
        position:absolute;
        top:0;
        margin-left: 0px;
        left:0;        
        background: url("/images/input_checks.png") no-repeat -114px 0;
    }
    a {
         padding: 0;
         color: #006990;

    }
}

