@font-face {
  font-family: 'proxima-nova-thin';
  src: url("../fonts/ProximaNova-ThinWeb.eot");
  src: url("../fonts/ProximaNova-ThinWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-ThinWeb.woff") format("woff");/* , url("../fonts/ProximaNova-Thin.ttf") format("truetype"); */
  font-weight: 100;
  font-style: normal; }

/* Thin, font-weight: 100; italic */
@font-face {
  font-family: 'proxima-nova-thini';
  src: url("../fonts/ProximaNova-ThinItWeb.eot");
  src: url("../fonts/ProximaNova-ThinItWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-ThinItWeb.woff") format("woff");/* , url("../fonts/ProximaNova-ThinIt.ttf") format("truetype"); */
  font-weight: 100;
  font-style: italic; }

/* Light, font-weight: 300 */
@font-face {
  font-family: 'proxima-nova-light';
  src: url("../fonts/ProximaNova-LightWeb.eot");
  src: url("../fonts/ProximaNova-LightWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-LightWeb.woff") format("woff");/* , url("../fonts/ProximaNova-Light.ttf") format("truetype"); */
  font-weight: 300;
  font-style: normal; }

/* Light, font-weight: 300; italic*/
@font-face {
  font-family: 'proxima-nova-lightI';
  src: url("../fonts/ProximaNova-LightItWeb.eot");
  src: url("../fonts/ProximaNova-LightItWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-LightItWeb.woff") format("woff");/* , url("../fonts/ProximaNova-LightIt.ttf") format("truetype"); */
  font-weight: 300;
  font-style: italic; }

/* Regular, font-weight: normal */
@font-face {
  font-family: 'proxima-nova-reg';
  src: url("../fonts/ProximaNova-RegWeb.eot");
  src: url("../fonts/ProximaNova-RegWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-RegWeb.woff") format("woff");/* , url("../fonts/ProximaNova-Reg.ttf") format("truetype"); */
  font-weight: normal;
  font-style: normal; }

/* Regular, font-weight: normal; italic*/
@font-face {
  font-family: 'proxima-nova-regit';
  src: url("../fonts/ProximaNova-RegItWeb.eot");
  src: url("../fonts/ProximaNova-RegItWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-RegItWeb.woff") format("woff");/* , url("../fonts/ProximaNova-RegIt.ttf") format("truetype"); */
  font-weight: normal;
  font-style: italic; }

/* Semibold, font-weight: 600 */
@font-face {
  font-family: 'proxima-nova-sbold';
  src: url("../fonts/ProximaNova-SboldWeb.eot");
  src: url("../fonts/ProximaNova-SboldWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-SboldWeb.woff") format("woff");/* , url("../fonts/ProximaNova-Sbold.ttf") format("truetype"); */
  font-weight: 600;
  font-style: normal; }

/* Semibold, font-weight: 600; italic*/
@font-face {
  font-family: 'proxima-nova-sboldit';
  src: url("../fonts/ProximaNova-SboldItWeb.eot");
  src: url("../fonts/ProximaNova-SboldItWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-SboldItWeb.woff") format("woff");/* , url("../fonts/ProximaNova-SboldIt.ttf") format("truetype"); */
  font-weight: 600;
  font-style: italic; }

/* Bold, font-weight: 700 */
@font-face {
  font-family: 'proxima-nova-bold';
  src: url("../fonts/ProximaNova-BoldWeb.eot");
  src: url("../fonts/ProximaNova-BoldWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-BoldWeb.woff") format("woff");/* , url("../fonts/ProximaNova-Bold.ttf") format("truetype"); */
  font-weight: 700;
  font-style: normal; }

/* Bold, font-weight: 700; italic*/
@font-face {
  font-family: 'proxima-nova-boldit';
  src: url("../fonts/ProximaNova-BoldItWeb.eot");
  src: url("../fonts/ProximaNova-BoldItWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-BoldItWeb.woff") format("woff");/* , url("../fonts/ProximaNova-BoldIt.ttf") format("truetype"); */
  font-weight: 700;
  font-style: italic; }

/* Extra Bold, font-weight: 800 */
@font-face {
  font-family: 'proxima-nova-xbold';
  src: url("../fonts/ProximaNova-XboldWeb.eot");
  src: url("../fonts/ProximaNova-XboldWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-XboldWeb.woff") format("woff");/* , url("../fonts/ProximaNova-Xbold.ttf") format("truetype"); */
  font-weight: 800;
  font-style: normal; }

/* Extra Bold, font-weight: 800; italic*/
@font-face {
  font-family: 'proxima-nova-xboldit';
  src: url("../fonts/ProximaNova-XboldItWeb.eot");
  src: url("../fonts/ProximaNova-XboldItWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-XboldItWeb.woff") format("woff");/* , url("../fonts/ProximaNova-XboldIt.ttf") format("truetype"); */
  font-weight: 800;
  font-style: italic; }

/* Black, font-weight: 900 */
@font-face {
  font-family: 'proxima-nova-black';
  src: url("../fonts/ProximaNova-BlackWeb.eot");
  src: url("../fonts/ProximaNova-BlackWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-BlackWeb.woff") format("woff");/* , url("../fonts/ProximaNova-Black.ttf") format("truetype"); */
  font-weight: 900;
  font-style: normal; }

/* Black, font-weight: 900; italic*/
@font-face {
  font-family: 'proxima-nova-blackit';
  src: url("../fonts/ProximaNova-BlackItWeb.eot");
  src: url("../fonts/ProximaNova-BlackItWeb.eot%3Fiefix") format("eot"), url("../fonts/ProximaNova-BlackItWeb.woff") format("woff");/* , url("../fonts/ProximaNova-BlackIt.ttf") format("truetype"); */
  font-weight: 900;
  font-style: italic; }