// VMware Pattern Library - Starlight Theme by Cognizant Interactive
//
// Variables
// --------------------------------------------------

// Colors
//
//VMware Startlight - Neutral Palette

$font-stack:"proxima-nova-reg",Arial,sans-serif;
$font-stackLight:"proxima-nova-light",Arial,sans-serif;
$font-stackSemiBold:"proxima-nova-sbold",Arial,sans-serif;

$gray-base:            #000000 !default;
$gray-darker:          #333333 !default;
$vmfTextInputColor:    #333333 !default;
$gray-dark:            #666666 !default;
$gray:                 #717074 !default;
$gray-light:           #CCCCCC !default;
$contentRating-bg:     #f5f5f5 !default;

$vmf-gray-dark:             #666666 !default;
$vmf-inlineEditingColor:    #387C2C;
$vmf-inlineEditingBgColor:  #CCFFFF;
$vmf-gray-light:            #CCCCCC;
$vmf-bgColor:               #FFFFFF; 
$vmf-borderColor:           #CCCCCC; 
$vmf-SecondaryborderColor:  #B5B5B5; 
$vmf-gray-darker:           #333333;
$vmf-gray-vdarker:          #999999;
$vmf-notificationBg:        #E00000;
$vmf-hoverColor:            #E5EBF1;
$vmf-primary-blue:          #0095D3;
$vmf-boxShadow:             #888888;
$vmf-listBgColor:           #E1F2F7;
$vmf-placeholderColor:      #999999;
$vmf-gradientColor1:        #F7F7F7;
$vmf-gradientColor2:        #F1F1F1;
$vmf-gradientColor3:        #ECECEC;
$vmf-globalnav-bg:          #222;
$vmf-globalnav-desktopbg:   #1F1F21;
$vmf-bigFooter-bg:          #232335;
$vmf-bigFooter-border:      #3F4043;
$vmf-bigFooter-border2:     #D3D3d3;
$vmf-bigFooter-navHover:    #0F79AA;
$vmf-bigFooter-grayHover:   #1D9ADC;
$vmf-bigFtr-hrzntlHover:    #117EAE;
$vmf-bigFtr-anchrTitle:     #666666;
$vmf-modalHeaderColor:      #333333;
$vmf-comboLiSelect:         #B2D2DD;
$vmf-comboDisabled:         #BCBCBC;
$vmf-comboDisabledBackgrd:  #EEEEEE;
$vmf-widgetprogressActive:  #C0C0C0;
$vmf-widgetprogressInActive:#999999;
$vmf-pwdSuccessHead:        #6FB442;
$vmf-formRegstrationHead:   #40AFDE;
$vmf-modalText:             #000;
$vmf-modalBorder:           #D6D6D6;
$vmf-termsAnchor:           #006990;
$vmf-placeholderColor:      #999999;
$vmf-staticRowBorder:       #999999;
$vmf-inputFocusColor:       #0095d3;
$vmf-shortDescColor:        #666666;
$vmf-sliderBg:              #7bbacd;
$vmf-sliderBgGradMid:       #86cade;
$vmf-sliderBgGradEnd:       #7ab9cd;
$vmf-gray-light:            #CCCCCC;
$vmf-nav-tabs-active:       #DDDDDD;
$vmf-dropdown-bg-gradient:  #e6e6e6;
$vmf-primary-teal:          #006990;
$vmf-primary-blue:          #0095D3;
$vmf-contentRating-bg:      #f5f5f5;
$vmf-primary-lightgreen:    #6DB33F;
$vmf-requiredField:         #E00000; 
$vmf-pagination-res:        #E8E8E8;
$vmf-drpDwnUl-border:       #D0D0D0;
$vmf-errMsg-bacgrd:         #F7E4E4;
$vmf-pagination:            #EDEDED;
$vmf-disableBtnTrue:        #DBDBDB;

//## Background colors for Ui Shell.
$utility-navBckgrnd:        #0A536F;
$utility-PageBckgrnd:       #6A6B6F;
$utility-GlobalBckgrnd:     #0B739F;
$utility-MainBckgrnd:       #FFFFFF;
$utility-FooterBckgrnd:     #323235;
$utility-FontColor:         #FFFFFF;
$pagination-res_border:     #E8E8E8;
$pagination-res:            #EDEDED;

$headerColor:#333;
$labelColor:#333;
$labelDisabledColor:#888;

$borderColor:#E6E6E6;
$borderBlueColor:#0095D3;

$bgColor: #696A6E;
$bgWhite:#FFF;
$linkColor: #006699;

$primaryAnchorColor:#FFF;
$secondaryAnchorColor:#666;

$grayColor:#EBEBEB;
$mandatory:#D9541E;


//VMware Startlight - Primary Pallette

$primary-deepblue:     #003D79 !default;
$primary-teal:         #006990 !default;
$primary-blue:         #0095D3 !default;
$primary-lightblue:    #89CBDF !default;
$primary-deepgreen:    #387C2C !default;
$primary-lightgreen:   #6DB33F !default;
$primary-lemongreen:   #C3CD23 !default;


$brand-primary:        #cccccc !default;
$brand-success :       #ff0000 !default;
$brand-info :          #aaaaaa !default;
$brand-warning :       #aaaaaa !default;
$brand-danger :        #aaaaaa !default;
$line-height-computed :20px;
$gray-lighter :#ccc;
$font-size-h6:24px;
$font-size-small:12px;
$text-muted:#ccc;
$page-header-border-color:#ddd;
$dl-horizontal-offset:40;
$abbr-border-color:#333;
$blockquote-font-size:16px;
$blockquote-border-color:#ccc;
$blockquote-small-color:#999;


//VMware Startlight - Secondary Palette

$secondary-gold:         #fdb813 !default;
$secondary-orange:       #f898fd !default;
$secondary-brick:        #d9541e !default;
$secondary-dirtyred:     #9e3039 !default;
$secondary-maroon:       #880024 !default;
$secondary-brown:        #9A3B26 !default;
$secondary-mud:          #574319 !default;
$secondary-red:          #E00000 !default;


//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            #000!default;

//** Global textual link color.
$link-color:            $primary-teal !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $primary-blue !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;




$font-size-base:          1rem !default;
$font-size-xlarge:        2rem !default;   // Intro Text 32px
$font-size-large:         1.5rem !default; // Alternate Intro 24px

$font-size-h1:            2.5rem !default;   // 40px
$font-size-h2:            2.125rem !default; // 34px
$font-size-h3:            1.375rem !default; // 22px
$font-size-h4:            1.125rem !default; // 18px
$font-size-h5:            1rem !default;     // 16px


//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.375rem !default; // 20/14



//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.33 !default;
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;



//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                600 !default;


$btn-default-color:              #333 !default;
$btn-large-font-size:            1rem !default;
$btn-large-padding:              15px 20px !default;

$btn-default-color:              #333 !default;
$btn-default-color-disabled:     #fff !default;
$btn-default-bg:                 #fff !default;
$btn-default-bg-disabled:        #dbdbdb !default;
$btn-default-bg-gradient-start:  #e6e6e6 !default;
$btn-default-bg-gradient-end:    #ffffff !default;
$btn-default-bg-gradient-end-hover:    #d7d7d7 !default;
$btn-default-border:             #d0d0d0 !default;
$btn-default-font-size:          0.875rem;
$btn-default-border-radius:      3px;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-bg-disabled:        #dbdbdb !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;
$btn-primary-bg-gradient-start:  #007FB4 !default;
$btn-primary-bg-gradient-end:    #0095D3 !default;
$btn-primary-bg-gradient-end-hover:    #006990 !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;

$btn-group-dropdown-hover-color: #e1f2f7 !default;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    #fff !default;
$dropdown-bg-gradient-start-color:#ffffff !default;
$dropdown-bg-gradient-end-color:#e6e6e6  !default;
$dropdown-hover-bg-gradient-end-color:#d7d7d7  !default;
$dropdown-shadow-color:  #d0d0d0 !default;





//** Dropdown menu `border-color`.
$vmf-dropdown-border:                #d0d0d0 !default;
//** Dropdown menu `border-color` **for IE8**.
//$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
//$dropdown-link-color:            $gray-dark !default;
//** Hover color for dropdown links.
//$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
//** Hover background for dropdown links.
$vmf-dropdown-link-hover-bg:          #e1f2f7 !default;


//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

//$zindex-navbar:            1000 !default;
//$zindex-dropdown:          1000 !default;
//$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
//$zindex-navbar-fixed:      1030 !default;
$zindex-modal:             1040 !default;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1300px ;
$screen-lg-min:              $screen-lg ;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min ;


$screen-vlg:                  1600px;
$screen-vlg-min:              $screen-vlg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-vlg-desktop:          $screen-vlg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

//== Tabs
$nav-tabs-border-color:                     #E6E6E6 !default;
$vmfBorderColor:                            #E6E6E6 !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

//== Pills
$nav-pills-border-radius:                   $border-radius-base !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;

//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;


//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width:           200px !default;
//** Tooltip text color
$tooltip-color:               #fff !default;
//** Tooltip background color
$tooltip-bg:                  #000 !default;
$tooltip-opacity:             .9 !default;

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;


//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          #fff !default;
//** Popover maximum width
$popover-max-width:                   276px !default;
//** Popover border color
$popover-border-color:                rgba(0,0,0,.2) !default;
//** Popover fallback border color
$popover-fallback-border-color:       #ccc !default;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;


//== Labels
//
//##

//** Default label background color
$label-default-bg:            $gray-light !default;
//** Primary label background color
$label-primary-bg:            $brand-primary !default;
//** Success label background color
$label-success-bg:            $brand-success !default;
//** Info label background color
$label-info-bg:               $brand-info !default;
//** Warning label background color
$label-warning-bg:            $brand-warning !default;
//** Danger label background color
$label-danger-bg:             $brand-danger !default;

//** Default label text color
$label-color:                 #fff !default;
//** Default text color of a linked label
$label-link-hover-color:      #fff !default;
$label-disabled-Color:    #888888 !default;


//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         15px !default;

//** Padding applied to the modal title
$modal-title-padding:         15px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color

$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;
$modal-footer-background-color : #e6e6e6 default;
//** Modal header border color
$modal-header-border-color:   #d6d6d6 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    770px !default;
$modal-md:                    590px !default;
$modal-sm:                    300px !default;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;


$search-link-hover-bg:          #b6dbfd;          



// Table 

$vmf-linegradient:    #dadada;
$vmf-tableholderline:    #7b7b7b;
$vmf-tablebgblue:    #f6f6f6;
$vmf-printbg:    #0094d2;
$vmf-sortcolorgrad:    #C6C6C6;
$vmf-sortcolorbg:    #EFEFEF;


$vmf-staticRowColor:        #eff3f7;
$vmf-staticBlurHeader:      #188abd;
$vmf-gray-dark:             #666666;
$vmf-blue-light:            #f1f6f9;
$vmf-staticRowBorder:       #E6E6E6;
$vmf-printbg:               #0095d3;
$vmf-brand-info:            #aaaaaa;


// Table 