/*!

Split Pane v0.4.0

Copyright (c) 2014 Simon HagstrÃ¶m

Released under the MIT license
https://raw.github.com/shagstrom/split-pane/master/LICENSE

*/
//colors
$color_gallery_approx: #eeeeee;
$color_alto_approx: #dedede;
$silver: silver;
$blue: blue;
$gray:  gray;
$white: white;

//urls
$url_0: row-resize;
$url_1: col-resize;

//@extend-elements
//original selectors
//.vmf-split-container.fixed-top > .split-pane-component, .vmf-split-container.fixed-bottom > .split-pane-component, .vmf-split-container.horizontal-percent > .split-pane-component
%extend_1 {
	position: absolute;
	white-space: normal;
	zoom:1;
	left: 0;
	width: 100%;
	overflow: auto;
	top: auto;
	bottom: 0;
	z-index: 1;
	background:$white;
}

//original selectors
//.vmf-split-container.fixed-top > .split-pane-divider, .vmf-split-container.fixed-bottom > .split-pane-divider, .vmf-split-container.horizontal-percent > .split-pane-divider
%extend_2 {
	position: absolute;
	width: 100%;
	left: 0;
	cursor: $url_0;
	z-index: 2;
	background: -webkit-linear-gradient(top, $color_gallery_approx, $color_alto_approx);
	background-image: -moz-linear-gradient(top, $color_gallery_approx, $color_alto_approx);
	background: -ms-linear-gradient(top, $color_gallery_approx, $color_alto_approx);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dedede',GradientType=1 );
}



.vmf-split-container.horizontal-percent > .split-pane-divider > .threedots {
	background-image: url('/images/horizontal_dots.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-position-x: 50%;
	background-position-y: 50%;
	width:100%;
	height:100%;
}

.vmf-split-container.vertical-percent > .split-pane-divider > .threedots {
	background-image: url('/images/vertical_dots.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-position-x: 50%;
	background-position-y: 50%;
	width:100%;
	height:100%;
}

//original selectors
//.vmf-split-container.fixed-left > .split-pane-component, .vmf-split-container.fixed-right > .split-pane-component, .vmf-split-container.vertical-percent > .split-pane-component
%extend_3 {
	position: absolute;
	top: 0;
	height: 100%;
	left: auto;
	right: 0;
	z-index: 1;
    /*min-width:300px;*/
}



.hide {
	display: none;
}

.show {
	display: block;
}


//original selectors
//.vmf-split-container.fixed-left > .split-pane-divider, .vmf-split-container.fixed-right > .split-pane-divider, .vmf-split-container.vertical-percent > .split-pane-divider
%extend_4 {
	position: absolute;
	height: 100%;
	top: 0;
	cursor: $url_1;
	z-index: 2;
	background: -webkit-linear-gradient(left, $color_gallery_approx, $color_alto_approx);
	background-image: -moz-linear-gradient(left, $color_gallery_approx, $color_alto_approx);
	background: -ms-linear-gradient(left, $color_gallery_approx, $color_alto_approx);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dedede',GradientType=0 );

}


.vmf-split-container {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	&.fixed-top > {
		.split-pane-component {
			@extend %extend_1;
			&:first-child {
				top: 0;
				bottom: auto;
			}
		}
		.split-pane-divider {
			@extend %extend_2;
		}
		.split-pane-resize-shim {
			cursor: $url_0;
			background-image: url('/images/vertical_dots.png');
		}
	}
	&.fixed-bottom > {
		.split-pane-component {
			@extend %extend_1;
			&:first-child {
				top: 0;
				bottom: auto;
			}
		}
		.split-pane-divider {
			@extend %extend_2;
		}
		.split-pane-resize-shim {
			cursor: $url_0;
		}
	}
	&.horizontal-percent > {
		.split-pane-component {
			@extend %extend_1;
			&:first-child {
				top: 0;
				bottom: auto;
			}
		}
		.split-pane-divider {
			@extend %extend_2;
		}
		.split-pane-resize-shim {
			cursor: $url_0;
		}
	}
	&.fixed-left > {
		.split-pane-component {
			@extend %extend_3;
			&:first-child {
				left: 0;
				right: auto;
			}
		}
		.split-pane-divider {
			@extend %extend_4;
		}
		.split-pane-resize-shim {
			cursor: $url_1;
		}
	}
	&.fixed-right > {
		.split-pane-component {
			@extend %extend_3;
			&:first-child {
				left: 0;
				right: auto;
			}
		}
		.split-pane-divider {
			@extend %extend_4;
		}
		.split-pane-resize-shim {
			cursor: $url_1;
		}
	}
	&.vertical-percent > {
		.split-pane-component {
			@extend %extend_3;
			&:first-child {
				left: 0;
				right: auto;
			}
		}
		.split-pane-divider {
			@extend %extend_4;
		}
		.split-pane-resize-shim {
			cursor: $url_1;
		}
	}
}
.split-pane-resize-shim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: none;
	
}
.pretty-split-pane-frame {
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	width: 100%;
	height: 300px;
	padding: 1px;
	margin: 30px auto;
	background: -webkit-linear-gradient(left, $color_gallery_approx, $color_alto_approx);
	background-image: -moz-linear-gradient(left, $color_gallery_approx, $color_alto_approx);
	background: -ms-linear-gradient(left, $color_gallery_approx, $color_alto_approx);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dedede',GradientType=1 );
	> .split-pane > .split-pane-divider.dragged.touch {
		background: $blue;
		opacity: 0.25;
	}
}
.pretty-split-pane-component-inner {
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	/*border: 1px solid $gray;*/
	width: auto;
	background: $white;
	min-height: 100%;
	height:auto;
	/*padding: 0 1em;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;*/
}
.vmf-folder-content {
	.vmf-folder-content-heading {
		padding:10px;
		background: transparent url("../images/top_gradient_header.gif") top left repeat-x;
		border-bottom: 1px solid #e6e6e6;
		font-family: $font-stackSemiBold;
  		font-size: 0.875rem;
	}
	.vmf-folder-content-list {
		li {
			border-bottom: 1px solid #e6e6e6;
			padding:8px 10px;
			font-size: 0.875rem;
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    cursor:pointer;
		}
	}
}