<!--Split Container component code -->
<div ng-controller="splitContainerCtrl">
	<div class="pretty-split-pane-frame">
		<vmf-split-container>

			<vmf-split-pane-component panewidth="30%" minwidth="30%" maxwidth="50%">
				<div class="pretty-split-pane-component-inner"> 
					<div vmf-folder-tree tree="panes[0]" root-name="rootName[0]" folder-click-call-back="createNewTree($event,this)" ></div>
				</div>
			</vmf-split-pane-component>

			<vmf-split-pane-divider panewidth="10px" clicks="0" close="right"></vmf-split-pane-divider>


			<vmf-split-pane-component>
			</vmf-split-pane-component>

		</vmf-split-container>
	</div>
</div>
