<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="vmfModule">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>VM Ware</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="location" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/main_part_2.css" /> -->

    <!-- Internet Explorer AngularJS element creation -->
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
        document.createElement('vmf-radio-group');
        document.createElement('vmf-radio');
        document.createElement('vmf-checkbox-group');
        document.createElement('vmf-select-list');
        document.createElement('vmf-tabs');
        document.createElement('vmf-pane');
        document.createElement('vmf-tabsone');
        document.createElement('vmf-paneone');
        document.createElement('vmf-tabstwo');
        document.createElement('vmf-panetwo');
        document.createElement('vmf-text-input');
        document.createElement('vmf-autocomplete-input');
        document.createElement('vmf-tooltip');
        document.createElement('modal-popup');
        document.createElement('vmf-header-inline-editing');
        document.createElement('vmf-form-template');
        document.createElement('vmf-accordion-container');
        document.createElement('vmf-product-alerts');
        document.createElement('vmf-carousel');
        document.createElement('vmf-pagination');
        document.createElement('vmf-modaless-popup');
        document.createElement('vmf-content-rating');
        document.createElement('vmf-backlink');
        document.createElement('vmf-bigfooter');
        document.createElement('menu');

    </script>

<![endif]-->
    <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="css/ie8.css" />
<![endif]-->

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="css/ie7.css" />
<![endif]-->

</head>

<body class="ng-cloak vmf-customTemplate">

    <div class="pageWrap">
        <div class="col-sm-12 noPadding">
            <div class="vmf-UtilityNavContainer">
                <div ng-controller="utilityCtrl" class="utilityContainer">
                    <div vmf-utility list="navList" country="United States" countryhint="Select a Country Region" searchhint="search">
                    </div>
                </div>
            </div>
        </div>
        <div class="pageContainer  clearfix">

            <div class="globalZindex clearfix">
                <div class="col-sm-12 noPadding ">
                    <div class="vmf-gridGlobalNavContainer">
                        <div class="vmf-globalNavigation" ng-controller="globalNavCtrl">
                            <a class="vware-logo" href="javascript:void(0);">Vmware logo</a>
                            <a href="javascript:void(0);" class="menu-link menu-link-primary" ng-click="showDetails = ! showDetails">Menu</a> 
                            <menu nav-menu="navMenu" show-details="showDetails" class="level-1" ng-show="showDetails"></menu>

                        </div>
                    </div>
                </div>
            </div>
            <div class="vmf-GridMainContainer clearfix">
                <div class="col-xs-12 col-md-8 noPadding">
                    <div class="vmf-heroContent">
                        <div ng-controller="backlinkController">
                            <div vmf-backlink link="{{toLink}}" title="{{toTitle}}"></div>
                            <h1>Title</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 noPadding">
                    <div class="vmf-quickLinks">
                        Quick Links
                    </div>
                </div>
            </div>

            <div class="vmf-GridSectionContainer">
                <div class="col-sm-12 col-md-4 noPadding">
                    <div class="vmf-GridIntrdctn">
                        Introduction
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 noPadding">
                    <div class="vmf-GridProducts">
                        Featured Products
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 noPadding">
                    <div class="vmf-GridOverview">
                        Company Overview
                    </div>
                </div>
            </div>
            <!-- Social media block starts -->
            <div ng-controller="socialMediaController">
                <!--<div style="height:200px">This div has been included for showcase purpose-->
                <vmf-social-media config="config" position="positionClass">
                </vmf-social-media>
                <!--</div>-->
            </div>

        </div>
        <div class="clearfix vmf-GridFooterContainer">
            <div ng-controller="bigFooterController">
                <div vmf-bigfooter options="footerConfig"></div>
            </div>
        </div>


    </div>

    <br />
    <br />

    <div class="pageWrap">
        <div class="pageContainer">
            <div class="col-sm-12 noPadding ">
                <div class="vmf-UtilityNavContainer">
                    Utility Navigation2
                </div>
            </div>
            <div class=" globalZindex">
                <div class="col-sm-12 noPadding ">
                    <div class="vmf-GlobalNavContainer">
                        <div class="vmf-globalNavigation" ng-controller="globalNavCtrl">
                            <div class="navDiv">
                                <a class="vware-logo" href="javascript:void(0);">Vmware logo</a>
                                <a href="javascript:void(0);" class="menu-link menu-link-primary" ng-click="showDetails = ! showDetails">Menu</a>
                                <menu nav-menu="navMenu" show-details="showDetails" class="level-1" ng-show="showDetails"></menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-12 noPadding">
                    <div class="vmf-MainContainer">
                        <div ng-controller="backlinkController">
                            <div vmf-backlink link="{{toLink}}" title="{{toTitle}}"></div>
                            <h1>Title</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vmf-FooterContainer">
            <div ng-controller="bigFooterController">
                <div vmf-bigfooter options="footerConfig1" class="secondFooter"></div>
            </div>
        </div>
    </div>





    <script type="text/javascript" src="/js/vmfLibComponents.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

</body>

</html>
