.productAlert_product-bar,.productAlert_product-parent {
    width:850px;
 }
 
 .productAlert_product-accordian {
  width: 770px;
}

.productAlert_product-alertCount {
    margin-left:16px;
    margin-top:1px;
}
.productAlert_product-heading {
     padding-bottom:0;   
}