.sliderInput {
    padding-left: 9px;
    .vmf-text-input {
        width:95px;
        float: none;
    } 
    .inputUnit {
        font-size: 14px;
        right: 9px;
    }
}
.dollarValTop {
    margin-top: 5%;
    padding-top: 55px;
}
.dollar {
    margin-top: 57px;
}
.dollar1 {
    margin-top: 52px;
}
.compute {  
    font-size: 22px;
}
.vmf-secondSubHeader,
.subHeaderheight,
.vmf-thirdsubHeader 
 {
 label{
    font-size: 14px;
    }
}
.subHeaderheight {
    padding-top: 18px
}
.dollarVal {
    font-size: 20px;
}
.ngrs-range-slider {
     .ngrs-runner{
        .ngrs-join{  
            
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bbacd', endColorstr='#7ab9cd',GradientType=0 );
        }
    }
}
.sliderCtrl {  
    padding: 37px 4px; 
    .rst{
        font-size: 18px;
        padding-top: 0px;
        }
}
.vmf-storageDiv {
    margin-top: 43px;
}
.rangeSliderspace {
    padding-top: 12px;
}