.ngrs-range-slider {
  position: relative;
  margin: 10px 0 30px;
  padding: 4px;
  border: 1px solid $vmf-gray-light;
  background: $vmf-bgColor;
  @include border-radius(4px);
}
.ngrs-range-slider * {
  display: block;
  cursor: default;
  @include box-sizing(border-box);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ngrs-range-slider {
    .ngrs-runner {
    position: relative;
    margin: 0 9px;
    height: 18px;
    }
}
.ngrs-range-slider .ngrs-join {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 100%;
  height: 8px;
  margin: -4px 0 0 0;
  @include border-radius(4px);
  background: $vmf-sliderBg; /* Old browsers */
}
.ngrs-range-slider .ngrs-handle {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 18px;
  margin: 0 0 0 -9px;
  background: $vmf-sortcolorbg;
  border: 1px solid $vmf-gray-light;
  @include border-radius(3px);
  }
.ngrs-range-slider .ngrs-handle i {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat -9999px -9999px;
  cursor: pointer;
}
.ngrs-range-slider .ngrs-handle.ngrs-over i {
  background-position: 50% 50%;
}
.ngrs-range-slider .ngrs-handle.ngrs-down {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.ngrs-range-slider .ngrs-value {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0 0 0;
  font-size: 0.75rem;
  color: $vmf-gray-vdarker;
}
.ngrs-range-slider .ngrs-value.ngrs-value-max {
  left: auto;
  right: 0;
  text-align: right;
}
.ngrs-range-slider.ngrs-handle-min-down .ngrs-value-min, .ngrs-range-slider.ngrs-handle-max-down .ngrs-value-max {
  color: $vmf-gray-darker;
}
.ngrs-range-slider .ngrs-attached-handles {
  margin: 0 9px;
  position: relative;
 }
.ngrs-range-slider .ngrs-attached-handles .ngrs-value-max {
  text-align: left;
}
.ngrs-range-slider .ngrs-attached-handles .ngrs-value > div {
  margin: 0 0 0 -50%;
}
.ngrs-range-slider.ngrs-vertical {
  width: 28px;
  margin: 10px auto; 
}
.ngrs-range-slider.ngrs-vertical .ngrs-runner {
  margin: 9px 0;
  height: 300px;
  width: 18px;
}
.ngrs-range-slider.ngrs-vertical .ngrs-value-runner.ngrs-attached-handles {
  padding: 4px;
  position: absolute;
  top: 0;
  margin: 9px 0;
  height: 300px;
  left: 100%;
}
.ngrs-range-slider.ngrs-vertical .ngrs-join {
  width: 8px;
  height: auto;
  top: 0;
  bottom: 100%;
  left: 50%;
  right: auto;
  margin: 0 0 0 -4px;
}
.ngrs-range-slider.ngrs-vertical .ngrs-handle {
  width: 100%;
  height: 18px;
  margin: -9px 0 0 0;
}
.ngrs-range-slider.ngrs-vertical .ngrs-handle-max i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpiYKAUMAKxDxBL4ZB/xgQk9gHxDyySILF9zEDiNxC/A2JVNAW7gfgtM5TzCYhZgFgCyr8IxNdADGZk+4BYGoi/APEBIP6PzVE8UAwHAAEGAArIDvzRFIA6AAAAAElFTkSuQmCC");
}
.ngrs-range-slider.ngrs-vertical .ngrs-value {
  top: 0;
  left: 100%;
  padding: 0 0 0 5px;
}
.ngrs-range-slider.ngrs-vertical .ngrs-value.ngrs-value-max {
  top: auto;
  bottom: 0;
  right: auto;
  text-align: left;
}
.ngrs-range-slider.ngrs-vertical .ngrs-attached-handles .ngrs-value-max, .ngrs-range-slider.ngrs-vertical .ngrs-attached-handles .ngrs-value-min {
  margin: -50% 0 0;
}
.ngrs-range-slider.ngrs-vertical.ngrs-left {
  margin: 10px 0;
}
.ngrs-range-slider.ngrs-vertical.ngrs-right {
  margin: 10px 0 10px auto;
  }
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-attached-handles {
  left: 0%;
}
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value {
  left: auto;
  right: 100%;
  padding: 0 5px 0 0;
  text-align: right;
}
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value.ngrs-value-max {
  text-align: right;
}
.ngrs-range-slider.ngrs-focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.ngrs-range-slider.ngrs-disabled, .ngrs-range-slider.ngrs-disabled.ngrs-focus {
  border-color: $vmf-nav-tabs-active;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ngrs-range-slider.ngrs-disabled .ngrs-handle {
  background: $vmf-bgColor;
  border-color: $vmf-nav-tabs-active;
}
.ngrs-range-slider.ngrs-disabled .ngrs-handle i {
  background: none !important;
  cursor: default;
}
.ngrs-range-slider.ngrs-disabled .ngrs-join {
 background: $vmf-nav-tabs-active;
}
.ngrs-range-slider.ngrs-disabled .ngrs-value {
  color: $vmf-nav-tabs-active;
}
body.ngrs-touching {
  -ms-touch-action: none;
}
/* ----------- custom CSS ------------------ */
.ngrs-range-slider {    
    height: 15px;
    width:100%;
    background: none;
    border: none;
    box-shadow: none;
    transition: none;
    padding: 0 4px;
        .ngrs-join {
            top: 0px;
        }
     .ngrs-runner {
        border:1px solid $vmf-gray-light;
        @include border-radius(10px);
        box-shadow: 0px -1px 6px $vmf-dropdown-bg-gradient;
        background: url("/images/sliderbackground.png") repeat-x left center;
        height:17px;
        margin: 0;
        .ngrs-handle-max {
            height: 35px;
            margin: -10px -10px -10px;
            width: 10px;
            background-color:$vmf-primary-teal ;
            border:1px solid $vmf-primary-teal ;
            &:hover {
                  background-color:$vmf-primary-blue ;
                  border:1px solid $vmf-primary-blue ;
                 }
            i {
                background-image:none;
              }
        }
        .ngrs-join {
             
           background: $vmf-sliderBg; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdiYmFjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg2Y2FkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YWI5Y2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7bbacd 0%, #86cade 50%, #7ab9cd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bbacd), color-stop(50%,#86cade), color-stop(100%,#7ab9cd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7bbacd 0%,#86cade 50%,#7ab9cd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7bbacd 0%,#86cade 50%,#7ab9cd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7bbacd 0%,#86cade 50%,#7ab9cd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7bbacd 0%,#86cade 50%,#7ab9cd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bbacd', endColorstr='#7ab9cd',GradientType=0 ); /* IE6-8 */
            filter:none;
            margin:0;
            top:0;
            bottom: 0;
            height: 100%;
        }
    }
    ng-isolate-scope {
        .ngrs-horizontal{
            background:none;
        }
    }
    &.ngrs-focus {
        border-color: none;
        box-shadow: none;
    }
}
.sliderInput { 
    padding-left:0;
    .vmf-text-input {
        margin-top: 15px;
        position: relative;
        float: right;
        input {
            width: 100%;
        }
    }
    .inputUnit {
        position: absolute;
        right: 3px;
        color:$vmf-gray-vdarker;
        font-size:0.875rem;
        top: 6px;
    }
}
.sliderCtrl {  
  background-color:$vmf-contentRating-bg;
  padding: 38px 4px;    
}
.rst {
  float: right;
  font-size: 1.125rem;
  font-family: $font-stackSemiBold;
  line-height: 18px;
  color:$primary-teal;
  padding-right: 7px;
}
.dollarValTop {
   margin-top: 0; 
}
.dollar {
   margin-top: -10px;
}
.compute {
  margin-top:0px;
  font-size: 1.375rem;
  font-family: $font-stackSemiBold;
  line-height: 22px;
  color:$vmf-gray-darker;
    .toolTip-icon {
        margin-left:8px;
        margin-top: 1px;
        top:2px;
    }
}
.dollarVal {
    text-align: right;
    padding-right: 20px;
    font-size: 1.25rem;
    line-height:20px;
    font-family: $font-stackSemiBold;
    color:$primary-lightgreen;
}
.subHeaderheight {
  padding-top: 15px;  
  padding-left: 1px; 
  label {
    font-family: $font-stackLight;
    font-size:0.875rem;
    color:$vmf-gray-dark;  
  }    
}
.rangeSliderspace { 
    padding-top: 11px;
}
.tooltipTriangle {
    background: url(/images/sliderTriangle.png) no-repeat center center;
    width:100%;
    height:6px;
    position: absolute;
    bottom: -6px;
    left:0;
}
.sliderLock {  
    position: absolute; 
    width: 33px; 
    background: url(/images/lockSlider.png) no-repeat left top;    
    right: -6px; 
    top: 33px; 
    height: 102px;
    outline: none;
    z-index: 9999;
    cursor:default;
    &:focus,&:active {
       outline: none; 
    }
    span {
        display: none;
    }   
}
.vmf-headerheight {
 padding:40px 18px;
}
.vmf-storageDiv {
    margin-top: 44px;
}
.vmf-secondSubHeader, .vmf-thirdsubHeader {
    padding-top: 11px; 
    padding-left: 1px;
    label {
        font-family: $font-stackLight;
        font-size:0.875rem;
        color:$vmf-gray-dark;  
    }
}
.sliderComponent {
    background:$vmf-contentRating-bg;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-tablet) { 
      
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-desktop) { 
    .sliderInput {
        padding-left: 9px;
        .vmf-text-input {
            width:95px;
            float: none;
        }  
        .inputUnit {
            right: 9px;
        }
    }
    .dollarValTop {
        margin-top: 5%;
        padding-top: 55px;
    }
    .dollar {
        margin-top: 57px;
    }
     .dollar1 {
        margin-top: 53px;
    }
}

