<!-- <div class="optionsStack" style="display:none;position:fixed;z-index:4">
	<ul class="col-md-12" >
		<li ng-repeat="option in options" ng-click="operation(this)" class="option-label">{{option.optionLabel}}</li>
	</ul>
</div> -->