<div class="modal fade vmf-folderModel">
    <div class="modal-dialog {{InviteUserModal}} row">
        
        <div class="modal-content">
            <form>

            <div class="modal-header">
                <a href="javascript:void(0)" class="closeIcon" data-dismiss="modal" aria-hidden="true" ng-click="close('Cancel');modalShown=false">
                        Close
                    </a>
                <h4 class="modal-title" id="myModalLabel">
                   {{modalData.operationScope.text}}                 
               </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
        </form>
    </div>
</div>



