<!--Empty State component code -->

<h4>Company Performance</h4>
<vmf-tabsone labelmessage="By Quarter">
    <vmf-paneone tabno='Tab-1' listlabel='By Quarter'>
        <vmf-empty-state>
            <div class="vmf-marginwrapper">
                <div class="vmf-imgwrapper">
                    <img src="/images/chart-pie-128.png" width="70" height="70" />
                </div>
                <p>
                    There are no renewals to display this quarter.
                </p>
                <p class="vmf-secondwrapper">
                    Please select another quarter to view opportunities, review the <a href="javascript:void(0)">Renewals Portal Reference Guide</a> or contact <a href="javascript:void(0)">Partner Success Center</a> for assistance.
                </p>
            </div>
        </vmf-empty-state>
    </vmf-paneone>
    <vmf-paneone tabno='Tab-2' listlabel='Historical'>
        <vmf-empty-state>
            <div class="vmf-marginwrapper">
                <div class="vmf-imgwrapper">
                    <img src="/images/chart-pie-128.png" width="70" height="70" />
                </div>
                <p>
                    There are no opportunities to display either because you have no account in the system or your filter settings exclude all opportunities.
                </p>
                <p class="vmf-secondwrapper">
                    Try changing the filter criteria or refer to the <a href="javascript:void(0)">Renewals Portal Reference Guide.</a>
                </p>
            </div>
        </vmf-empty-state>
    </vmf-paneone>
</vmf-tabsone>