<!--First Run Experience component code -->
<div ng-controller="firstrunexperienceCtrl as freCtrl">
   <button class="vmf-btn vmf-primary" ng-click="freShown=true" ng-show="true">Show First Run Experience</button>
   <div vmf-first-run-experience fre-content="images" ng-show="freShown" fre-shown="freShown"> 
   </div>
</div>
