﻿     <!-- Table Basic-->

    <vmf-table  class="basic_nogrouping_table basic_nogrouping draggableContainerCls"
        ng-controller="BasicTableCtrl"
        table-pagination = "true"
        table-pagination-pattern = "patternone"
        table-mobile-only-pagination = "true"
        data="data"       
        columns="columns"
        options="options"
        cell-renderers="cellRenderers">
    </vmf-table>
    
<br />
<br />

    <vmf-table
        ng-controller="SubscriptionServiceTableCtrl" class="basic_nogrouping_table basic_nogrouping subscription_tbl"
        data="data"
        table-pagination = "true"
        table-pagination-pattern = "patterntwo"
        table-mobile-only-pagination = "false"
        columns="columns"
        options="options"
        cell-renderers="cellRenderers">
    </vmf-table>
