<!-- Combo Box component-->

<div ng-controller="comboBoxCtrl" class="comboxOption">
    <div class="col-sm-12 col-md-3 noPadding vmf-comboWrap">
        <vmf-combo-box model="option" options="list" hint="Select Product" combo-disabled="false">
        </vmf-combo-box>
    </div>

    <br/>
    <br/>
    <br/>
    <div class="col-sm-12 col-md-3 noPadding">
        <vmf-combo-box model="option2" options="list" hint="Select Product" combo-disabled="true">
        </vmf-combo-box>
    </div>
</div>
