<!--Modaless Overlay component code -->

<div ng-controller="modalessCtrl ">
    <vmf-modaless-popup vmf-draggable="true" drag-element="modal-content" htitle="Heading" buttonTitle="Modal Large" back="back" data-id="vmf-modal1"  btitle="Next" class="vmfModalChange modalessOverlay">
        <p>Test</p>
    </vmf-modaless-popup>
</div>
