<div>
    <button class="vmf-btn vmf-primary" ng-click="modalShown=true" ng-keyup="test($event);">{{title}}</button>
    <div class="modalLoad" aria-hidden="true" tabindex="-1" role="dialog" ng-show="modalShown" id="{{id}}">
	<div class="modal-backdrop fade in"></div>
    <div class="modal fade">
        <div class="modal-dialog {{size}}">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:void(0)" class="closeIcon" data-dismiss="modal" aria-hidden="true" ng-click="modalShown=false">
                        Close
                    </a>
                    <h4 class="modal-title" id="myModalLabel">
                 {{title}}
               </h4>
                </div>
                <div class="modal-body">
                    <div ng-transclude></div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="vmf-btn vmf-secondary vmf-back-btn" data-dismiss="modal" ng-click="onback()" ng-show="back">Back Button
                    </button>
                    <div class="rightButton"><button type="button" class="vmf-btn vmf-primary" data-dismiss="modal" ng-click="primaryBtn()">Primary
                    </button>
                    <button type="button" class="vmf-btn vmf-secondary" ng-click="hideModal()">
                        Cancel
                    </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div> 

</div>


