<div class="modal fade login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" class="closeIcon" data-dismiss="modal" aria-hidden="true" ng-click="close('Cancel')" ng-click="modalShown=false">
                        Close
                    </a>
                <h4 class="modal-title" id="myModalLabel">
                 Gello
               </h4>
            </div>
            <div class="modal-body">
                <p>It's your call...</p>
            </div>
            <div class="modal-footer">

                
                <div class="rightButton"><button type="button" class="vmf-btn vmf-primary" data-dismiss="modal" ng-click="btn()">Btn
                    </button>
                
                    <button type="button" class="vmf-btn vmf-primary" data-dismiss="modal" ng-click="close('Yes')">Primary
                    </button>
                    <button type="button" class="vmf-btn vmf-secondary" data-dismiss="modal" ng-click="close('Cancel')" ng-click="modalShown=false">
                        Cancel
                    </button>
            </div>
        </div>
    </div>
</div>



