<!--Login component code -->

<div ng-controller="loginController">
     <a class="vmf-btn vmf-primary vmfloginChangeModal" href="javascript:void(0);" ng-click="show()">Login</a>
     <h3>Login Module Inline</h3>
        <div class="loginInline" ng-include="'/dev/modules/login/template/login.html'"></div>
</div>
