  <!-- First dropdown -->
  <div class="btn-group dropdown table-filter">
    <button type="button" class="btn btn-default dropdown-toggle custom" data-toggle="dropdown" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
      <span class="title">{{title}}</span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="item in parsedData" ng-click="liClickHandler($event)">
        <label class="checkbox" ng-if="!item.isDateField" ng-class="{warningfield : item.isWarning || item.isAlert}" vmf-class="{warningfield : item.isWarning || item.isAlert}">
         <div vmf-checkbox-group class="vmf-checkbox-group"  model="item.selected" type="1" c-label="item.label"></div>
          <img src="images/orangeAlert.png" ng-if="item.isWarning"/>
          <img src="images/redAlert.png" ng-if="item.isAlert"/>
        </label>
          <div class="checkbox datefield" ng-if="item.isDateField">
            <!-- <input type="checkbox" ng-model="item.selected">-->
          <div vmf-checkbox-group class="vmf-checkbox-group"  model="item.selected" type="1" c-label="" click-callback="onDateSelect(item, $event)"></div>
        
          <div vmf-calendar-single sdate="01/01/1990" edate="31/12/2090"  class="vmf-calendar-drop" ng-click="onDateSelect(item, $event)"></div>
          </div> 
      </li>
     
      <li  role="presentation" class="dropdown-actions">
        <button class="btn btn-link btn-xs pull-left" ng-click="clearAll($event)" type="button"> Clear All</button>
        <button class="btn btn-link btn-xs pull-right" ng-click="applyFilter($event)" type="button">Apply</button>
      </li>

    </ul>
  </div>
  <!-- End of first dropdown -->
<div class="selected-item-container">
  <ul class="dropdown-selected-options the-icons">     
     <li ng-repeat="item in selectedItems"> 
        <i class="custom-icon-delete" ng-click="deleteItem(item, $index, $event)"></i>
        {{item.label}}
      </li>
  </ul>
<div>
