
 .step_by_step_progress_bar {
     &.num_steps_4 {
            ol {
                 width: 100%;
                .vmf-progress-section {
                    width: 25%;
                    float:left;
                 span.vmf-progress-title {
                        padding-top: 4px;
                    }
                }
            }
        }
 }
 
