<!--Search-->
<div ng-controller="searchCtrl"> 
    <h2>Pattern one</h2>
    <div vmf-search type="1" model="searchModel" sources="sources" source-selection="selection" search-callback="search" suggestion-callback="suggest()" suggestion-list="keywordList" filter-suggestion-list1="filterKeyWords1" filter-model1="filterKeyword1" filter-model1-selection="selectedFilterList1" filter-model1-hint="Enter Symptom Tag" filter-suggestion-list2="filterKeyWords2" filter-model2="filterKeyword2" filter-model2-selection="selectedFilterList2" filter-model2-hint="Enter Symptom Tag" sort-by="sortingOrder" filter-model3="filterKeyword3" filter-model3-list="filterKeyword3List" filter-model3-list-order="value" filter-model3-title="Timeframe" filter-model4="filterKeyword4" filter-model4-List="filterKeyword4List" filter-model4-title="Search Toolkit">
    </div>
<br/><br/><br/><br/><br/>    
    <h2>Pattern two</h2>
    <div vmf-search type="2" model="searchModelV" sources="sourcesV" source-selection="selectionV" search-callback="searchV" suggestion-callback="suggestV()" suggestion-list="keywordListV" filter-suggestion-list1="filterKeyWords1V" filter-model1="filterKeyword1V" filter-model1-selection="selectedFilterList1V" filter-model1-hint="Enter Symptom Tag" filter-suggestion-list2="filterKeyWords2V" filter-model2="filterKeyword2V" filter-model2-selection="selectedFilterList2V" filter-model2-hint="Enter Symptom Tag" sort-by="sortingOrderV" filter-model3="filterKeyword3V" filter-model3-list="filterKeyword3ListV" filter-model3-list-order="value" filter-model3-title="Timeframe" filter-model4="filterKeyword4V" filter-model4-List="filterKeyword4ListV" filter-model4-title="Search Toolkit" filter-suggestion-list5="filterKeyWords5V" filter-model5="filterKeyword5V" filter-model5-selection="selectedFilterList5V" filter-model5-hint="Enter Author" filter-suggestion-list6="filterKeyWords6V" filter-model6="filterKeyword6V" filter-model6-selection="selectedFilterList6V" filter-model6-hint="Enter Article Id" filter-model7="filterKeyword7V" filter-model7-list="filterKeyword7ListV" filter-model7-list-order="value" filter-model7-title="SR Status" filter-model8="filterKeyword8V" filter-model8-list="filterKeyword8ListV" filter-model8-list-order="value" filter-model8-title="SR Sub-Status" filter-model9="filterKeyword9V" filter-model9-list="filterKeyword9ListV" filter-model9-list-order="value" filter-model9-title="Bug Status" filter-suggestion-list10="filterKeyWords10V" filter-model10="filterKeyword10V" filter-model10-selection="selectedFilterList10V" filter-model10-hint="Customer Tag" filter-suggestion-list11="filterKeyWords11V" filter-model11="filterKeyword11V" filter-model11-selection="selectedFilterList11V" filter-model11-hint="Enter Assigned to Tag">
    </div>
   
</div>    