
.vmf-dropdown {outline:none;}
.vmf-dropdown-content {

  @include linearGradient(top,$dropdown-bg-gradient-start-color,$dropdown-bg-gradient-end-color) ;
  &:hover {
     @include linearGradient(top,$dropdown-bg-gradient-start-color,$dropdown-hover-bg-gradient-end-color) ;
  }
  @include border-radius(3px);
  border: 1px solid $vmf-dropdown-border;
  cursor: pointer;
  outline: none;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 9px 15px;
  line-height: 10px;
 // @include boxShadowValues(0 , 3px ,3px, 0, $dropdown-shadow-color);
  span {font-size:0.875rem; color:$gray-dark; font-family:$font-stack;}
  span.current-selection{color:#666;}
  span.current-selection._active-drop{color:#333;}

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: $dropdown-caret-color transparent; 
  }
  ul {
    position: absolute;
    top: 30px; 
    left: 0;
    right: 0;
    background: white;
    border-radius: inherit;
    border: 1px solid $vmf-dropdown-border;
    //@include boxShadowValues(0 , 5px ,5px, 0,$dropdown-shadow-color);
    -moz-box-shadow: 0 1px 4px 0px #888;
    -webkit-box-shadow: 0 1px 4px 0px #888;
    box-shadow: 0 1px 4px 0px #888;
    font-weight: normal;
    list-style: none;
    pointer-events: none;
    margin: 0;
    max-height: 350px;
    overflow: auto;
    padding-bottom:0;
    padding-top:10px;
    li {
      padding: 0.125rem 0.937rem; 
      padding: 3px 15px; 
      line-height:14px;
      font-size:.875rem;
      &:hover {
        background: $vmf-dropdown-link-hover-bg; 
      };
      &:focus {
        background: $vmf-dropdown-link-hover-bg; 
      }
    li._first{
      padding: 15px 15px; 
      }
    }
    &.active {
      opacity: 1;
      pointer-events: auto; 
      z-index: 999;
    }
  }
}

.dd-opt-selected {
  background: #e1f2f7;  
}
.label {
  padding: 0.6rem 0; 
}
.jspArrow.jspArrowUp {border-left:1px solid #D0D0D0;}
.jspArrow.jspArrowDown{border-left:1px solid #D0D0D0;border-bottom:1px solid #D0D0D0;}

.jspArrow.jspArrowUp, .jspArrow.jspArrowUp.jspDisabled {background: #f5f5f5 url("/images/upArrow.png") no-repeat 3px ;}
.jspArrow.jspArrowDown, .jspArrow.jspArrowDown.jspDisabled{background: #f5f5f5 url("/images/downArrow.png") no-repeat 3px ;}
.jspVerticalBar .jspArrow{height: 14px;}
.jspVerticalBar {
    height: 100%;
    margin-bottom: 0;
    width:17px;
    .jspDrag {
        width: 12px;   
    }
}

.labelHeader .mandatory{
  color:#D9541E!important;
  padding-right:5px;
}
.labelHeader.formLabel {
  font-family:$font-stackSemiBold;
}