.vmf-dropdown {
    
     padding-right: 0; 
    &.col-md-4 {
         width:31.33%;   
    }
}
.vmf-dropdown-content {
    span {
        font-size:14px;        
    }
    float:left;
	background:url(/images/arrow.png) no-repeat 97% 10px #f1f1f1;
    position:relative; 
    border: 1px solid $vmf-dropdown-border;
    padding: 6px 15px;
  line-height: 16px;
    ul {
        border: 1px solid $vmf-dropdown-border;
    }
    li{
        padding:0px 15px 0px 0px;
        font-size:14px; 
    }
    &._active {
        z-index: 10000;
    }
    &:hover {
        background:url(/images/arrow.png) no-repeat 97% 10px #d7d7d7;
    }
}



.vmf-dropdown.col-md-4{
	position:static;
}


div.vmf-dropdown-content span.current-selection{
 	display:block; 
	position:relative; 
	width:100%;
	cursor:pointer;
	font-size:14px; 
}

.vmf.col-md-4{
 	float:left;
}
 
.vmf_drop-down_text{
	width:100%;
	float:left;
 }
.vmf_drop-down_text>p{
	float:left; 
 }

.labelHeader.formLabel {
  font-weight:normal;
}
.vmf-dropdown-content .jspScrollable li{
	margin-left:-16px;
 	width:100%;
}
.jspDrag {
    width:11px;
}
.jspArrow.jspArrowUp, .jspArrow.jspArrowUp.jspDisabled {background-position: center center;}
.jspArrow.jspArrowDown, .jspArrow.jspArrowDown.jspDisabled{background-position: center center;}