<!--Drop Down List component code -->

<div class="col-md-12">
    <div ng-controller="dropDownCtrl">
        <div vmf-select-list dtitle="Total Revenue" model="revenue2" list="revenuesObj" mandatory="true" custom-class="customclass">
        </div>        
        <br/><br/><br/>
        <div vmf-select-list dtitle="Month" model="month" list="monthsObj" sortby="value">
        </div>        
        <br/><br/><br/>
        <div vmf-select-list dtitle="Revenue" model="revenue" list="revenues">
        </div>  

    </div>
</div>