<!--Modal Overlay component code -->
<div ng-controller="modalCtrl">
    <modal-popup title="Modal Title 1" buttonTitle="Modal Small" data-id="vmf-modal1" onback="backFun(2)" class="vmfModalChange">
        <div ng-include="'dev/modules/modal/template/1.html'"></div>
    </modal-popup>

    <modal-popup size="lg" title="Modal Title 2" buttonTitle="Modal Large" back="back" onback="backFun(1)" data-id="vmf-modal2" class="vmfModalChange">
        <p>Content</p>
    </modal-popup>
</div>