.adunit_addUnit_2 {
  padding-top: 21px\9;
}

.adunit_subHeading_1 {
  margin-top: 19px\9;
}


.adunit_title_promo {
  margin-right: 10px;
}

.adunit_subtitle_promo {
   margin-top: -34px;
}

.adunit_title_promo {
  margin-right: 5px; 
}

.adunit_add_title{
	
	font-size: 55px; 
}

.adunit_add_subtitle{
	padding-right: 2px;
	 margin-top: -3px;

}

.adunit_btn_promo_6 {
  margin-top: 40px !important;

}
.adunit_promo_expiry_6 {
  margin-top: 70px;
}


.adunit_num_1{
	
	margin-left: -19px;
}
.adunit_promo_heading{
	
	padding-top: 14px;
	padding-bottom: 14px;
}

.adunit_promo_subheading{
	padding-bottom: 23px;
}

.adunit_heading_promo{
	
	margin-bottom:-5px; 
}
.adunit_heading_promo_1 {
	padding-top: 27px;
}

.adunit_add_title_1{
	
	padding-top: 22px;
}
.adunit_subtitle_promo_1 {
  margin-top: -15px;
}

.adunit_promo_heading_1 {
  padding-bottom: 7px;
  padding-top: 16px;
}

.adunit_promo_message_1 {
  padding-bottom: 10px;
}

.adunit_promotionCaption_1 {
  margin-top: 32px; 
  margin-bottom: 61px; 
}

.adunit_promo_page {
  margin-top: 54px !important;
  margin-bottom: 49px !important;
 
}

.adunit_button_rightmargin {
  margin-right: 26px !important;
}

.adunit_addUnit_1 {
  padding: 0 33px 0 35px;
}

.adunit_btn_close {
 margin-top: 55px !important;
  margin-right: 50px !important;
}

.adunit_btn_addUnit {
  margin-top: 36px !important;
}

.adunit_btn_promo {
  margin-top: 23px !important;
}