.adunit_addUnit_Container_1 {
  padding-left: 10px;
}

.adunit_addUnit_2 {
  padding-top: 21px;
}

.adunit_subHeading_1 {
  margin-top: 19px;
}

.adunit_title_promo {
   margin-right: 5px; 
}

.adunit_subtitle_promo {
  margin-top: -34px;
}

.adunit_addUnit {
	width: 330px;
}

.adunit_promo_content {
  min-width: 305px;
}


.adunit_add_title{
	font-size: 55px; 
}

.adunit_add_subtitle{
	 padding-right: 2px; 
	 margin-top: -3px; 
}

.adunit_heading_promo{
	
	margin-bottom:-5px; 
}

.adunit_promo_content_6{
	width:300px; 
}

.adunit_btn_promo_6 {
  margin-top: 40px;
  height: 12px;

}

.adunit_promo_expiry_6 {
  margin-top: 70px;
}

.adunit_add_title_1{	
	padding-top: 23px;
	padding-bottom: 3px;
}

.adunit_subtitle_promo_1 {
  margin-top: -15px;
}

.adunit_promo_heading_1 {
  padding-bottom: 8px;
   padding-top: 16px;
}

.adunit_num_1{
	
	margin-left: -19px;
}

.adunit_promo_heading{
	padding-top: 14px;	
	padding-bottom: 14px;
}

.adunit_promo_subheading{
	padding-bottom: 23px;
}

.adunit_heading_promo_1 {
	padding-top: 27px;
}

.adunit_promo_message_1 {
  padding-bottom: 9px;
}

.adunit_promo_content {
  height: 170px;
}

.adunit_promotionCaption_1 {
  margin-top: 31px; 

}

.adunit_promo_page {
  margin-top: 54px !important;
  padding-bottom: 52px !important;
}

.adunit_button_rightmargin {
  margin-right: 26px !important;

}

.adunit_addUnit_1 {
  padding: 0 33px 0 35px;
}

.adunit_btn_addUnit {
   margin-top: 36px !important;
    height: 10px;
}

.adunit_btn_promo{
   margin-top: 23px !important;
  height: 10px;
}

.adunit_btn_close{
  
  height: 7px;
}
.adunit_modalWindow{
  padding-top: 1px;
  padding-bottom: 1px;
 width: 805px;
}