
.utilityContainer ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.utilNavSpacer{
  color: #fff;
  height: 9px;
  position: absolute;
  margin-left: 1px;

}
/* Page Eyebrow */
.utilityContainer .page-eyebrow {
  background-color: #1f1f21;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #3b3b3f;
  z-index: 5;
  font-family: $font-stack;
}

.utilityContainer #menu-quick {
  display: block;
}

  .utilityContainer .flexsearch--input:hover {
    background-color: #646469;
    color: #0095d3 !important;
  }

.utilityContainer .max-width {
  margin: 0 auto;
  max-width: 1600px;
  
  position: relative;
}

.utilityContainer .flexsearch {
  padding: 11px 12px;
  /* Padding for other horizontal elements */
  display: block;
}

.utilityContainer .flexsearch--wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
}

.utilityContainer .flexsearch--form {
  overflow: hidden;
  position: relative;
}

.utilityContainer .flexsearch--input-wrapper {
  padding: 0 35px 0 0;
  /* Right padding for submit button width */
  overflow: hidden;

}

.utilityContainer .flexsearch--input {
  width: 100%;
}

.utilityContainer .flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 31px;
  padding: 0 30px 0 13px;
  border-color: #888;
  border-radius: 15px;
  /* (height/2) + border-width */
  border-style: solid;
  border-width: 1px;
  color: #b5b5b5;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.utilityContainer .flexsearch--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  margin-top: 1px;
  /* margin-top + border-width */
  margin-right: 1px;
  /* border-width */
  background: transparent url(/images/UtilityNavigation/search-a-icon.png) no-repeat center center;
  text-indent: -9000px;
  text-transform: capitalize;
  /* for IE 7 */
}

.utilityContainer .flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.utilityContainer .flexsearch--input:focus.flexsearch--submit {
  color: #333;
}

.utilityContainer .flexsearch--submit:hover {
  cursor: pointer;
}

.utilityContainer input::-webkit-input-placeholder {
  color: #FFF;
}

.utilityContainer input:-moz-placeholder {
  color: #FFF;
}

/******/
/* Eyebrow Menu Styles */
.utilityContainer .menu-link-eyebrow {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  color: white;
  background: transparent url(/images/UtilityNavigation/arrow-eyebrow.png) no-repeat left center;
}

/* Quick Links */
.utilityContainer .menu-link-quick {
  position: absolute;
  top: 0;
  right: 85px;
  display: block;
  width: 108px;
  height: 32px;
  text-indent: 10px;
  background-position: 90px center;
}

.utilityContainer .menu-item-quick {
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
  color: #006990;
}

.utilityContainer .menu-item-country {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  line-height: 1;
}



.utilityContainer .icon {
  float: left;
  display: block;  
  margin: 0 6px;
  background: transparent no-repeat left top;
}

.utilityContainer .icon-usa {
  width: 32px;
  height: 22px;
  background-image: url(/images/UtilityNavigation/icon-usa.png);

}

/* ends quick links */

.utilityContainer .menu li.has-subnav.hover {
  background-color: #0095d3;
}

.utilityContainer .menu ul {
  margin: 0 0 0 -0.25em;
  border: 0;
}

.utilityContainer .menu > ul li {
  margin: 0 0.25em;
}

.utilityContainer .menu > ul > li {
  display: inline-block;
}

.utilityContainer .menu > ul ul {
  position: absolute;
  top: 0;
  width: 12em;
}

.utilityContainer .menu > ul ul li {
  position: relative;
}

.utilityContainer .menu-arrow {
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f1f1f1;
  position: relative;
  top: -10px;
  height: 0;
  width: 0;
  z-index: 10;
}

.utilityContainer .menu > ul ul.level-2 {
  background-color: #f1f1f1;
  border-top: 4px solid #0095d3;
  padding-bottom: 30px;
  padding-top: 60px;
  padding-right: 30px;
  right: -16px;
  top: 120px;
  width: auto;
  max-width: 1000px;
  z-index: 100;
  -webkit-box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
}

.utilityContainer .menu > ul ul.level-2 .menu-head {
  float: left;
  position: absolute;
  top: -10px;
  display: inline-block !important;
  font-size: 22px;
  margin: 30px 0 20px 30px;
}

.utilityContainer .menu > ul ul.level-2 .menu-head:hover {
  background: url(/images/UtilityNavigation/accordion-arrow-hover.png) center right no-repeat;
  color: #0095d3;
}

.utilityContainer .menu > ul ul.level-2 .col {
  display: table-cell;
  padding-left: 30px;
  width: auto;
  max-width: 200px;
}

.utilityContainer .menu > ul ul.level-2 .col .has-subnav {
  margin: 0 0 20px 0;
}

.utilityContainer .menu > ul ul.level-2 .col .level-3 {
  background-color: transparent;
  display: block;
  left: auto;
  position: relative;
}

.utilityContainer .menu > ul ul.level-2 .col .level-3 li {
  margin-bottom: 10px;
}

.utilityContainer .menu > ul ul.level-2 .col .level-3 li a {
  font-size: 14px;
}

.utilityContainer .menu > ul ul.level-2 .col .level-3 li a:hover, .menu > ul ul.level-2 .col .level-3 li a:focus {
  color: #0095d3;
}

.utilityContainer .menu > ul ul.level-2 .menu-item-primary-2 {
  border-bottom: 1px solid #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 1.33em;
  padding-bottom: 7px;
  text-indent: 0;
  margin-bottom: 7px;
}

/* Skins */
.utilityContainer .menu-item-primary-1 {
  font-size: 20px;
  color: white;
  height: auto;
  padding: 10px 17px 15px;
  border: none;
  text-indent: 0;
  line-height: 1.2;
  background: transparent;
}

.utilityContainer .menu-item-primary-1:before {
  content: '';
  display: none;
}

.utilityContainer .menu-item-primary-1.is-active {
  background: none;
  border-top: none;
}

.utilityContainer #menu-search {
  position: absolute;
  top: 8px;
  right: 0;
  width: 152px;
  padding: 0;
  margin: 0;
  background: transparent;
  z-index: 5;
}

 .utilityContainer {
    height: 44px;
  }

.utilityContainer .menu-link-quick.is-active {
  margin-top: -32px;
}

.utilityContainer .toggle_menu_quick {
  display: block !important;
}

@media only all and (min-width: 320px) and (max-width: 899px) {
  .utilityContainer .flexsearch {
    display: none;
  }
  .utilityContainer .menu > ul > li {
    display: block;
  }
  .utilityContainer .menu-item-country .menu-item-quick {
    line-height: normal;
  }
  .utilityContainer #menu-quick {
    display: none;
  }
  .utilityContainer .menu-link-eyebrow.is-active {
    background-color: #0095d3;
    background-image: url(/images/UtilityNavigation/arrow-eyebrow-active.png);
  }

  .utilityContainer .menu-eyebrow.is-active {
    margin: 32px 13px 0;
    padding: 25px 20px;
    border-top: 6px solid #0095d3;
    background: #e6e6e6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  }
}



@media only all and (min-width: 900px) {

 

  /* Structure */
  .utilityContainer .menu-link {
    display: none;
  }

    .utilityContainer .menu {
    position: static;
    float: right;
    margin: 36px -20px 0 0;
  }

  .utilityContainer #menu-quick {
    margin-top: 10px;
    width: 1140px;
    margin-right: 0;
    display: block;
  }

  .utilityContainer #menu-quick ul {
    position: absolute;
    right: 177px;
  }

  .utilityContainer #menu-quick li {
    border-left: 1px solid #2e2e31;
    margin: 0;
    margin-left: 2px;
    padding-left: 2px;

  }

  .utilityContainer #menu-quick li:first-child {
    border-left: none;
  }

  .utilityContainer .menu-item-country {
    border-top: none;
    position: absolute;
    left: 0;
    line-height: 2;
    padding-top: 0;
  }

  .utilityContainer .menu-item-quick,
  .utilityContainer .menu-item-quick-country {
    display: block;
    float: left;
    height: 19px;
    padding: 0 8px;
    margin: 0;
    font-size: 15px;
    line-height: 19px;
    font-weight: 300;
    color: white;
  }
  .utilityContainer .menu-item-quick:hover,
  .utilityContainer .menu-item-quick-country:hover {
    color: #0095d3;
  }

  .utilityContainer #menu-search {
    position: absolute;
    top: 8px;
    right: 0;
    width: 150px;
    margin-right: 10px !important;
    padding: 0;
    margin: 0;
    background: transparent;
    z-index: 5;
  }
  .utilityContainer .menu-eyebrow.is-active {
    margin: 32px 13px 0;
  }
  .utilityContainer .flexsearch--input-wrapper {
    padding: 0 27px 0 0;
    /* Right padding for submit button width */
  }

  .utilityContainer .flexsearch {
    padding: 0;
    /* Padding for other horizontal elements */
    display: block;
  }

  .utilityContainer .flexsearch--input {
    height: 22px;
    padding: 0 22px 0 15px;
    border-color: #4d4e53;
    border-radius: 2px;
    /* (height/2) + border-width */
    color: #fff;
    background-color: #4d4e53;
    font-size: 13px;
  }

   .utilityContainer .flexsearch--input:hover {
    background-color: #646469;
    color: #0095d3;
  }

  .utilityContainer .flexsearch--submit {
    width: 22px;
    height: 22px;
    background: transparent url(/images/UtilityNavigation/search-b-icon.png) no-repeat center center;
  }

  .utilityContainer .flexsearch--input:focus {
    outline: none;
    border-color: #333;
    /* Need to set this with final value */
  }

  .utilityContainer .flexsearch--input:focus.flexsearch--submit {
    color: #333;
    /* Need to set this with final value */
  }

  
  .utilityContainer .menu-item-country {
    border-top: none;
    position: absolute;
    left: 0;
    line-height: 2;
    padding-top: 0;
  }

 

}




  