<!--utilityNav component code -->
<div ng-controller="utilityCtrl" class="utilityContainer">
    <div vmf-utility list="navList" country="United States" countryhint="Select a Country Region" searchhint="search">
    </div>
</div>