
 .custom-radio {
    float:left;
    clear:both;
    line-height: 18px;
    font-family: $font-stack;
    font-size: 1rem;
    margin-top  : 13px;
    margin-bottom:0px;
    padding-left: 28px;
    position: relative;
    text-align: left;
    &:first-child{
     margin-top  : 0px;
    }
    .customRadioBox {
        width: 18px;
        height: 18px;
        display: inline-block;
        position: absolute;
        top: 0;
        left:0;
        z-index: 1;
        background: url("/images/input_checks.png") no-repeat -38px 0;
        &.selected.disabled {       
            background-position:  -190px 0;            
        }
    }
    &.selected {
        .customRadioBox {    
            background-position: -76px 0;
        }
    }
    &.disabled {
        .customRadioBox {
            background-position: -152px 0;
        }
    }
    
    &.disabledColor {
        color: $label-disabled-Color;
    }
    input[type="radio"] {
        _noFocusLine: expression(this.hideFocus=true);
        @include vmf-custom-opacity(0);
        outline: none;
        position: absolute;
    }
    .toolTip-icon {
        margin-top:0px;
    }
}
