<!-- product Carousel Component starts here -->
<div ng-controller="productCarouselController">
		<vmf-productcarousel carouselspacing="70" carouselwidth="100" carouselHeight="100" config="config"  autoplay="false" animationdelay="700" circularrotate="true" oncarouselclick="carouselClick" oncarouselover="carouselHover">
		</vmf-productcarousel>
</div>