.vmf-header-inline-text {
	width:auto;
	max-width:620px;
	padding: 5px 10px;
	font-size:24px;
	input {
	    padding:5px 30px 5px 5px;
        font-size:16px;
        line-height:16px;
     }
    .vmf-header-saving {
        position: absolute;
        top: 11px;
        right:15px;
    }
	.vmf-header-tick {
		margin-left:10px;
		position: relative;
		top:-3px;
	}   
}

