<!--Header Inline Editing component code -->

<div ng-controller="headerInlineEditingController">
    <vmf-header-inline-editing model="headerText" placeholder="{{placeholderText}}" ghost-text="{{ghostText}}" vmf-tooltip tooltip-options="{'position':'top','text':'Edit','hideDelay':100}" class="vmf-header-inline-editing">
    </vmf-header-inline-editing>
</div>