<!--<div ng-controller="backlinkController">
    <div vmf-backlink link="{{toLink}}" title="{{toTitle}}"></div>
</div>-->



<div ng-controller="breadCrumbCtrl">

<vmf-bread-crumb  options="breadcrumbPath">

</vmf-bread-crumb>
<div><h1>Title</h1></div>
</div>