.folderTree {
    .actionEachBox {
        ul {
            border: 1px solid $vmf-borderColor;
        }
    }
    a {
        padding-top: 11px;
        font-size: 14px;
        label {
            font-size: 14px;
        }
    }
    .highlight {
        position: relative;
        z-index: 10001;
    }
    .highlightActive {
        position: relative;
        z-index: 1000;
    }
}
.folderTree {
    .folderTreeHeader {
        .folderSelector {
            font-size: 14px;
        }
        a {
            padding-top: 11px;
            padding-bottom: 11px;
            label {
                font-size: 14px;
            }
        }
        .actionAll {
            font-size: 14px;
            padding-top: 13px;
            padding-bottom: 9px;
        }
    }
}
.section-wrapper {
    .vmf-text-input {
        input[type='text'] {
            width: 87%;
        }
    }
}
.expandCollapseIcon {
    top: 12px;
}
.section-wrapper .column .resultPane .custom-radio {
    width: 92%;
}
.vmf-create-folder {
    float: left;
    width: 92%;
    clear: both;
    .vmf-dropdown {
        width: 54%;
    }
    .vmf-text-input {
        margin-top: -15px;
    }
}
.resultPane {
    position: relative;
    overflow-x: hidden;
}
.vmf-folderModel {
    .modal-dialog {
        .modal-body {
            min-height: 350px;
            .inviteUser {
                min-height: 350px;
                input[type="text"] {
                    width: 96%;
                }
            }
        }
    }
}
.vmf-rename-folder {
    .vmf-highlight {
        float: left;
        width: 93%;
    }
}
.folderTreeWrapper {
    .actionAllBox {
        top: 34px;
    }
}
.folderTree {
    li {
        float: left;
        width:100%;
    }
}
.withoutCheckBox {
  .custom-checkbox{
    padding-left:0px;
  }
}
.foldertreeUl {
    position: relative;
    
}

