.folderTreeWrapper {
  position: relative;
  width:auto;
  font-family: $font-stack;
  font-size:  14px;
  color: #333333;
  .actionAllBox {
    right: -5px;
    top: 38px;
  }
  .actionEachBox {
    right: -5px;
    top: 25px;
  }
  .actionAllBox, .actionEachBox {
    display: none;
    padding-bottom: 8px;
    width: 186px;
    text-align: center;
    z-index: 999;
    position: absolute;
   /* background: transparent url("../images/boxshadow_down.png") bottom center no-repeat;*//*background-color: #fff; border: 1px solid #e6e6e6;
    -webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.51);
    box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.51);*/
    .midWrapper{
      padding-top: 0px;
      /*background: transparent url("../images/boxshadow_side.png") top center repeat-y;*/
    }
    .innerWrapper {
      padding: 2px 5px 0 6px;
      
    }
    ul {
      width: 165px;
      background-color: #fff; /*border-top: 1px solid #ebebeb;*/
      text-align: left;
      margin: 0 auto;
    }
    .a {
      padding: 7px 14px;
      display: block;
      text-decoration: none;
    }
    .first {
      a {
         padding-top: 12px;
      }
    }
    .last {
      a {
        padding-bottom: 20px;
      }
    }
    a{
      color: #333333;
      background-color: #fff;
      &:link,&:visited,&:hover,&:active {
        color: #333333;
        background-color: #fff;  
      }
      &.disabled{
        &:link,&:visited,&:hover,&:active {
          cursor: default;
          color: #999999;
          background-color: #fff;
        } 
      }
    }
  }
}

.mainLink {
  border-top: 1px dotted #666666;
}
.actionAllBox .mainLink a {
  padding-top: 15px;
  padding-bottom: 17px;
}
.actionAllBox a:active, .actionAllBox a:hover, .actionEachBox a:active, .actionEachBox a:hover {
  background-color: #e1f2f7;
}



.folderTree {
  position: relative;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-bottom: none;
  a {
      
    position: relative;
    display: block; /*line-height: 10px;*/
    border-bottom:  1px solid #e6e6e6;
    padding: 8px 15px 8px 0;
    color: #333333;
    text-decoration: none;
    &:link,&:visited{
      color: #333333;
      text-decoration: none;
    }
  }
  .folderTreeHeader {
    font-family: $font-stackSemiBold;
    position: relative;
    //background: transparent url("../images/right_gradient_header.gif") top right repeat-y;
     .folderSelector {
          font-family:$font-stackSemiBold;
          font-size:0.875rem;
      }
    a {
        padding-bottom: 10px;
        padding-top: 12px;   
        margin-right: 0px;

      background: transparent url("../images/top_gradient_header.gif") top left repeat-x; 
      &.folderTreeSlider {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0px;
        padding: 0;
        display: block;
        width: 12px;
        height: 22px;
        margin-right: 0;
        background: transparent url("../images/slider_icon.gif") center top no-repeat; 
      }
    }
    .libraryCheckbox {
      padding-bottom: 9px;
      padding-top: 9px;
      label {
        display:inline-block;
      }
    }  
  }
  .foldertreeUl{
        height: 250px;
        overflow-x: hidden;
      overflow-y:scroll;
    }
}


/*
.custom-checkbox span {
  margin-left:9px;
}*/
.folderTree .custom-checkbox {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:0px;
  margin-left:10px;
    .customCheckBox {
        margin-right:9px;
    }
}
.folderTreeHeader .chkbox {
  background-image: url("../images/unchecked_header.gif");
}
.chkbox input[type="checkbox"] {
  visibility: hidden;
}
.chkbox.checked {
  background: transparent url("../images/checked_default.gif") top left no-repeat;
}

.folderTreeHeader .chkbox.checked {
  background-image: url("../images/checked_default.gif");
  a{
    &.actionAll {
      margin-right: 0;
      padding: 12px 18px 12px 0;
      line-height: 14px;
      display: inline-block;
      color: #006990;
      background: transparent url("../images/grey_downarrow.gif") right 50% no-repeat;
    }
  }
}
.folderTreeHeader a.actionAll:link, .folderTreeHeader a.actionAll:visited {
  border: none;
  position: absolute;
  right: 26px;
  top: 0px;
}
.folderTreeHeader a.actionAll:active, .folderTreeHeader a.actionAll:hover {
  color: #0095d3;
  background: transparent url("../images/grey_downarrow.gif") 50% right no-repeat;
}
.folderTreeHeader a.actionAll.disabled:link, .folderTreeHeader a.actionAll.disabled:visited, .folderTreeHeader a.actionAll.disabled:active, .folderTreeHeader a.actionAll.disabled:hover {
  cursor: default;
  color: #006990;
}
.expandCollapseIcon {
  margin: 0;
  padding: 0;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  left: 13px;
  top: 9px;
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.plus > a > .expandCollapseIcon {
  background: transparent url("../images/plus_default.gif") top left no-repeat;
}
.folderTree .plus > a:active > .expandCollapseIcon, .folderTree .plus > a:hover > .expandCollapseIcon, .folderTree .plus > a.highlight > .expandCollapseIcon, .folderTree .plus > a.highlight:link > .expandCollapseIcon, .folderTree .plus > a.highlight:visited > .expandCollapseIcon, .folderTree .plus > a.highlight:active > .expandCollapseIcon, .folderTree .plus > a.highlight:hover > .expandCollapseIcon {
  background-image: url("../images/plus_highlight.gif");
}
.minus > a > .expandCollapseIcon {
  background: transparent url("../images/minus_default.gif") top left no-repeat;
}
.folderTree .minus > a:active > .expandCollapseIcon, .folderTree .minus > a:hover > .expandCollapseIcon, .folderTree .minus > a.highlight > .expandCollapseIcon, .folderTree .minus > a.highlight:link > .expandCollapseIcon, .folderTree .minus > a.highlight:visited > .expandCollapseIcon, .folderTree .minus > a.highlight:active > .expandCollapseIcon, .folderTree .minus > a.highlight:hover > .expandCollapseIcon {
  background-image: url("../images/minus_highlight.gif");
}
.plus > ul {
  display: none;
}
.minus > ul {
  display: block;
}
.actionEach {
  position: absolute;
  right: 15px;
  top: 8px;
  display: inline-block;
  font-size: 1px;
  width: 28px;
  height: 25px;
}
.folderTree a .actionEach, .folderTree a:link .actionEach, .folderTree a:visited .actionEach {
  background: transparent url("../images/box_downarrow_default.gif") top right no-repeat;
}
.folderTree a:active .actionEach, .folderTree a:hover .actionEach, .folderTree a.highlight .actionEach, .folderTree a.highlight:link .actionEach, .folderTree a.highlight:visited .actionEach {
  right: 15px;
  background-image: url("../images/box_downarrow_highlight.gif");
}
.folderTree a {
      padding-bottom: 11px;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari 5+ ONLY */
    ::i-block-chrome, .folderTree a {
      padding-top: 7px;
      padding-bottom: 11px;
    }
    ::i-block-chrome, .chkbox {
      bottom: -3px !important;
    }
}

@media screen and (min-width:0\0) { /*IE 9, 10, 11*/
}

.optionsOpen{
  display:block !important;
}
.folderTree a.highlight { background: #e5ebf1 url("../images/right_gradient_highlight.gif") top right repeat-y; margin-right: 0px; }
.folderTree .custom-checkbox {
  margin-bottom:0px;
  font-size:0.875rem;
  cursor:pointer;
 
}
.folderTreeHeader  a.actionAll {
    font-size:0.875rem;
    margin-right: 0;
    padding: 13px 18px 12px 0; 
    line-height: 14px; 
    display: inline-block; 
    color: #006990;  
    background: transparent url("../images/grey_downarrow.gif") right 50% no-repeat; 
}
.folderTreeWrapper {
  .midWrapper{
    .innerWrapper {
      ul{
        cursor: default;
        border: 1px solid #CCCCCC;
        padding:15px 0px 9px 0px;
        top: 80%;
        left: 7px;
        z-index: 1000;
        float: left;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        color:#000;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        @include border-radius(3px);
        @include boxShadowValues(0 , 6px ,12px, 0,rgba(0,0,0,.175));
        li{
          a{
            display:block;
            font-size: 14px;
            padding: 0px 14px;
            color: #333333;
            line-height: 30px;
            text-decoration:none;
            border-bottom:0px;
            &:hover {background:$btn-group-dropdown-hover-color;}
          }
        }
      }
    }
  }
}
.vmf-create-folder {
  .vmf-dropdown-content ul{
  min-height:150px;
    &.active {
      z-index:9999;
    }
  }
  padding: 15px;
  background: #EEEEEE;
  border: 1px solid #ccc;
  margin-top: 15px;
  .formLabel {
    width:30%;
  }
  .col-md-4 {
    width:60%;
  }
}
.vmf-delete-folder {
  .feedback {
    .feedback_close {
      display:none;
    }
  }
}
.vmf-rename-folder,.vmf-move-folder,.vmf-delete-folder {
  p {
    line-height:20px;
  }
  .vmf-highlight{
    padding: 15px;
    background: #EEEEEE;
    border: 1px solid #ccc;
    margin-top: 15px;
    .vmf-dropdown-content ul{
      min-height:150px;
      &.active {
        z-index:9999;
      }
    }
    .formLabel {
      width:40%;
      float:left;
    }
    .col-md-4 {
      width:50%;
      float:left;
      padding:10px 15px;
      &.vmf-dropdown.col-md-4 {
        padding:0px 15px;
      }
    }
    .formRow {
      .col-md-4 {
        padding:0px 15px;
      }
    }

  }
}
.section-wrapper {
  .column {
      header{
        background: #383838 url("../images/bkg_header_black.png") repeat-x;
        h1{
          padding: 5px 10px 4px 15px;
          font-size: 16px;
          font-weight: normal;
          width: auto;
          color: #FFF;
          line-height:16px;
          margin:0px;
        }
      }
      .searchArea {
        background: url("../images/bkg_searchbar.png") repeat scroll 0 -2px transparent;
        height: auto;
        margin-top: 0;
        padding-left: 15px;
        padding-top: 2px;
        .vmf-btn,.formRow {
          margin: 5px 0px;
        }
        .formLabel,.labelHeader{
          display:none;
        }
        .custom-radio {
          border-bottom:1px solid #ccc;
          padding-bottom: 10px;
          padding-left: 15px;
        }
        .vmf-text-input {
            .col-md-4{
              width:95%;
              padding-right:5%;
              padding-left:0px;

            }
            width:70%;
            float:left;
        }
      }
      .resultPane {
         height:150px;
         overflow-y:scroll;
         .radioContainer{
          padding:0px;
          width:100%;
         }
        .labelHeader{
          display:none;
        }
        .custom-radio {
          border-bottom:1px solid #ccc;
          padding-bottom: 10px;
          width:100%
        }
      }
  }

}

//Invite New User

.header-text {
    background-color:#cccccc;
    padding:5px 15px;
    height:55px;
}
.header-text span {
    padding-top:15px;   
    float: left;
}
.left-align {
    padding:0px 20px 10px;
}
.left-align div {
    padding-bottom:10px;   
}
.section-text {
    background-color:#666666;
    padding:5px;
}
//.Invite_New_User {
//    width:800px;   
//}
.vmf-right-button {
    float:right;
}
.inviteUser{
    border:1px solid #cccccc;
}
.inviteUser-required{
    text-align:right;
    padding:10px 5px;
}
.withoutCheckBox {
  .custom-checkbox{
    padding-left:0px;
  }
}
