<!--Folder Tree component code -->


<div ng-controller="folderTreeController">

	<div style="float:left; width:49.5%">
		<div vmf-folder-tree tree="folderStructure.folderContent" root-name="rootName1" multiple-select="on">
		</div>
	</div>

	<div style="float:left; width:50%">
		<div vmf-folder-tree tree="folderStructure.folderContent" root-name="rootName2" multiple-select="off">
		</div>
	</div>
</div>