.contractText {
	display: inline-block;
    float: left;
    margin-right:30px;
     margin-top: 3px;
}
.vmf-calendar-drop {
	position:relative;
	dispaly:inline-block;
	float:left;
}
.vmf-calContainer {
	position:relative;
    width:240px;
	
	.calIcon {
		display:inline-block;
		height:19px;
		width:18px;
		position:absolute;
		right:6px;
		top:5px;
		cursor:pointer;
		z-index:50;
		background:url("/images/calendar-sprite.png") no-repeat  transparent;
		&:hover {
			background-position:0 -21px;
		}
	}
}

.calendercontainer {
	box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.5);
	border:1px solid #D0D0D0;
	display: inline-block;
	z-index:100;
	visibility: hidden;
	left: 0px;
    padding-bottom: 0px;
    position: absolute;
    background-color:#fff;
	.vmf-dateContainer {
		float:none;
		font-family:$font-stack;
		font-size:16px;
		margin-top:15px;
			.calSubHeader {
				position:relative;
				margin:0 11px 13px 14px;
				.dateSubHead {
					color:#333;
				}
				.yearDropDown {
				 	.col-md-4 {
					 	width:100%;
					 	padding:0;
				 	}
				 	position:absolute;
				 	width:60px;
				 	top:4px;
				 	right:0;
				 	display:inline-block;
				 	.vmf-dropdown {
					 	.vmf-dropdown-content {
					 		border:none;
					 		background:transparent;
					 		filter:none;
					 		padding:0;
					 		line-height: 16px;
					 		.jspTrack {
					 			width:10px;
					 			border-width:0px;
					 			padding:5px 0px;
					 			background:none;
					 			background-image:none;
					 		}
					 		.jspVerticalBar .jspArrow{
					 			display:none;
					 		}
					 		.jspVerticalBar .jspDrag {
					 			background:#E6E6E6;
					 			border-width:0px;
					 			width:10px;
					 		}
					 		&:after {
					 			right:4px;
					 			border-width: 6px 6px 0 6px;
					 		}
					 		.current-selection	{
					 			font-size:16px;
					 			color:#333;
					 		}
					 		&._active:after {
					 			content: "";
							    width: 0;
							    height: 0;
							    position: absolute;
							    right: 4px;
							    top: 50%;
							    margin-top: -3px;
							    border-width: 0px 6px 6px 6px;
							    border-style: solid;
							    border-color: $dropdown-caret-color transparent; 
					 		}				
					 		.dropDownListItems {
					 			height:200px;
					 			width:72px;
					 			.dd-opt-selected{
					 				background:#fff;
					 			}
					 			text-align:center;
					 			padding:0;
					 			box-shadow:none;
					 			top:20px;
					 			border:1px solid #ccc;
					 			left:-2px;
					 			.jspContainer
					 			{
					 				text-align:left;
					 			}
					 			li {
					 				padding:6px 0 6px 10px;
					 			}
					 		}
					 	}
				 	}
				}
			}
			.first-calendar	{
				border-bottom:1px solid #e6e6e6;
				padding-bottom:15px;
			}

			.table-condensed {
			 	display:inline-block;
			 	margin:0 10px;
			 	th {
			 		padding: 0 5px 8px 10px;
			 		font-family:$font-stackSemiBold;
			 		font-weight: normal;
			 		text-align: center;
			 		line-height:16px;
			 		outline:none;
			 		&.next {
			 			
			 			padding-right:0px;
			 			padding-left:0px;

			 		}
			 		&.prev{
			 			padding-left:0px;
			 		}
			 		&.next,&.prev,&.month {
			 			padding-bottom:13px;
			 		}
			 	}
			 	td 	{
			 		color:#006699;
			 	    line-height: 16px;
				    padding: 0 0 0 6px;
				    text-align: center;
	 			    margin-bottom:0px;
				    border-bottom: 2px solid #fff;
				    outline:none;
				    &.vmf-disabled-date {
			 			background:none !important;
				    	a {
				    		color:#ccc;
				    		cursor: no-drop;
				    		background:none !important;
				    	}
				    }
				    &:first-child {
				    	padding-left:0px;
				    }
				    a {
				    	display: inline-block;
					    height: 25px;
					    width: 30px;
				        cursor:pointer;
				    	padding:4px 5px 6px 5px;
				    	line-height:20px;
				    	text-decoration:none;
				    }
				    a:empty
				    {					    				    	 
				    	cursor:default; 
				    	padding:0;
				    	width:0px;
				    	height:0px;
				    }
			 	}
			 	.prev {
			 		a{  
			 			&:hover{
				 	   	 border:1px solid #CCC;
				 	   	 padding:4px 5px 1px 5px;
				 	   	 text-decoration:none;
				 	    }
				 	    padding:5px 5px 2px 5px;
				 		text-align:left;
				 		line-height:16px;
				 		text-align:left;
				 		text-decoration:none;
				 		.arrow-left	{
				 			&.hiddenarrow {
				 				background-position: 0 -92px;
				 			}
					 		height:16px;
					 		width:10px;
					 		background:url("../images/calendar-sprite.png") 0 -58px no-repeat transparent;
					 		display:inline-block;
					 		padding:0;
					 		cursor:pointer;
					 		margin-left:0px;
					 	}
					}
			 	}
			 	.next {
			 		a{
				 	    &:hover{
				 	   	 border:1px solid #CCC;
				 	   	 padding:4px 5px 1px 5px;
				 	   	 text-decoration:none;
				 	    }
				 	    text-decoration:none;
				 	    padding:5px 5px 2px 5px;
				 		text-align:left;
				 		line-height:16px;
					 	margin-left: 10px;
				 		text-align:left;
					 	.arrow-right {
					 		&.hiddenarrow {
				 				background-position: 0 -75px;
				 			}
						 	height:16px;
					 		width:10px;
					 		display:inline-block;
					 		background:url("../images/calendar-sprite.png") -1px -41px no-repeat  transparent;
					 		padding:0;
					 		cursor:pointer;
						}
					}
			 	}
			 	.month {
				 	text-align:center;
				 	font-family:$font-stack;
					font-size:16px;
					color:#333;
			 	}
			
			 &.first-calendar {
			 .activeselectSecondcal {
					background-color:#CBF1FD;
					a {
						background:url("../images/calendar-arrows.png") 0px -75px no-repeat  #CBF1FD;
						color:#FFF;
					}
					&.hoverselectfirstcal {
						background-color:#fff;
					}
				}
				.activefirstcal {
					background: #CBF1FD;		
				}
				.hoverfirstcal {
					background: #CBF1FD;
					a{
						color:#FFF;
					}
				}
				.activeselectfirstcal {
					background-color:#fff;
					a {
						background:url("../images/calendar-arrows.png") 0px -24px no-repeat  #CBF1FD;
						color:#FFF;
					}
					&.hoverselectfirstcal {
						background-color:#fff;
					}
				}
				.hoverselectfirstcal {
				 	background-color:#ffffff;
				    a {
						background:url("../images/calendar-arrows.png") 0px 1px no-repeat  #fff;
					}
					
					&.activeselectfirstcal {
						a{
							background:url("../images/calendar-arrows.png") 0px -24px no-repeat  #CBF1FD;
						}
					}
				}
				.hoverselectsecondcal {
					background-color:#CBF1FD;
					a {
						background:url("../images/calendar-arrows.png") 0 -49px no-repeat  #fff;
					}
				}

			}
			&.second-calendar {
			  .activeselectfirstcal {
					background-color: #CBF1FD;
					a {
						background:url("../images/calendar-arrows.png") 0px -24px no-repeat  #CBF1FD;
						color:#FFF;
					}
					&.hoverselectfirstcal {
						background-color:#fff;
					}
				} 
				.activesecondcal {
					background: #CBF1FD;
				}
				.hoverselectsecondcal {
					background-color:#CBF1FD;
					a {
						background:url("../images/calendar-arrows.png") 0 -49px no-repeat  #fff;
					}
				}
				.activeselectSecondcal {
					background-color:#CBF1FD;
					a {
						background:url("../images/calendar-arrows.png") 0px -75px no-repeat  #CBF1FD;
						color:#FFF;
					}
					&.hoverselectfirstcal {
						background-color:#fff;
					}
				}
				.hoverselectfirstcal {
				 	background-color:#ffffff;
				    a {
						background:url("../images/calendar-arrows.png") 0px 1px no-repeat  #fff;
					}
					
					&.activeselectfirstcal {
						a{
							background:url("../images/calendar-arrows.png") 0px -24px no-repeat  #CBF1FD;
						}
					}
				}
			}
		}
	}
}

/* Tablet*/
@media (min-width: $screen-tablet) { 
	.vmf-calContainer {
		.contractText {
			display:inline;
			margin-right:30px;
		}
	}
    .vmf-secondcal{
      right:-4px;
    }
	.calendercontainer {
		left: 0;
		top:30px;
		padding-bottom:0px;
	    min-width:535px;
		 	.tableBorder {
				border-right:1px solid #e6e6e6;
				.first-calendar
					{
						border-bottom:0;
					}
			}
			.vmf-dateContainer {
				float:left;
				min-height:267px;
				margin-bottom: 10px;
			}
		.table-condensed {
			margin-right:0;
			&.first-calendar {
			 padding-bottom: 0;
			}
		}
	}

}



/* for single calendar */

.calendercontainersingle {
	box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.5);
	border:1px solid #D0D0D0;
	display: inline-block;
	z-index:100;
	visibility: hidden;
	left: 0;
    padding-bottom: 0px;
    position: absolute;
    background-color:#fff;
			.vmf-dateContainer {
				float:none;
				font-family:$font-stack;
				font-size:16px;
				min-height:277px;
				margin-top:14px;
					.calSubHeader {
					position:relative;
					margin:0 11px 13px 14px;
						.dateSubHead {
							color:#333;
						}
						.yearDropDown {
						 	.col-md-4 {
							 	width:100%;
							 	padding:0;
						 	}
						 	position:absolute;
						 	width:60px;
						 	top:4px;
						 	right:0;
						 	display:inline-block;
						 	.vmf-dropdown	{
							 	.vmf-dropdown-content	{
							 		border:none;
							 		background:transparent;
							 		filter:none;
							 		padding:0;
							 		line-height: 16px;
                                    jspTrack {
							 			width:10px;
							 			border-width:0px;
							 			padding:5px 0px;
							 			background:none;
							 			background-image:none;
							 		}
							 		.jspVerticalBar .jspArrow{
							 			display:none;
							 		}
							 		.jspVerticalBar .jspDrag {
							 			background:#E6E6E6;
							 			border-width:0px;
							 			width:10px;
							 		}
							 		&:after {
							 			right:4px;
							 			border-width: 6px 6px 0 6px;
							 		}
							 		.current-selection	{
							 			font-size:16px;
							 			color:#333;
							 		}
							 		&._active:after {
							 			content: "";
									    width: 0;
									    height: 0;
									    position: absolute;
									    right: 4px;
									    top: 50%;
									    margin-top: -3px;
									    border-width: 0px 6px 6px 6px;
									    border-style: solid;
									    border-color: $dropdown-caret-color transparent; 
							 		}				
							 		.dropDownListItems
							 		{
							 			height:200px;
							 			width:72px;
							 			.dd-opt-selected{
							 			background:#fff;
							 			}
							 			text-align:center;
							 			padding:0;
							 			box-shadow:none;
							 			top:20px;
							 			border:1px solid #ccc;
							 			left:-2px;
							 			.jspContainer
							 			{
							 				
							 				text-align:left;
							 			}
							 			li
							 			{
							 				padding:6px 0 6px 10px;

							 			}
							 		}
							 	}
						 	}

						}
					}
					.first-calendar	{
						
						padding-bottom:15px;
					}

				.table-condensed {
				 	display:inline-block;
				 	margin:0 10px;
				 	th {
				 		padding: 0 10px 5px 10px;
				 		font-family:$font-stackSemiBold;
				 		font-weight: normal;
				 		text-align: center;
				 		outline:none;
				 		&:first-child {
				 			padding-left:5px;
				 		}
				 		&:last-child,&.next {
				 			padding-right:0px;
				 		}
				 		&.prev, &.next {
				 		padding-left:0px;
				 		}
				 	}
				 	td 	{
				 		color:#006699;
				 	    line-height: 16px;
					    padding: 0 0 0 6px;
					    text-align: center;
		 			    margin-bottom:0px;
					    border-bottom: 2px solid #fff;
					    outline:none;
					    &:first-child {
					    	padding-left:0px;
					    }
					    a {
					    	display: inline-block;
						    height: 25px;
						    width: 30px;
					        cursor:pointer;
					    	padding:4px 5px 6px 5px;
					    	line-height:20px;
					    	text-decoration:none;
					    }
					    a:empty
					    {					    				    	 
					    	cursor:default; 
					    	padding:0;
					    	width:0px;
					    	height:0px;
					    }
				 	}

				 	.prev {
				 		a{
							&:hover{
							 border:1px solid #CCC;
							 padding:4px 4px 1px 4px;
							 text-decoration:none;
							}
					 	    padding:5px 5px 2px 5px;
					 		text-align:left;
					 		line-height:16px;
					 		text-decoration:none;
							 .arrow-left	{
							 	&.hiddenarrow {
				 				background-position: 0 -92px;
				 				}
						 		height:16px;
						 		width:10px;
						 		background:url("../images/calendar-sprite.png") 0 -58px no-repeat transparent;
						 		display:inline-block;
						 		padding:0;
						 		cursor:pointer;
						 		margin-left:0px;
						 	}
						}
				 	}
				 	.next {
				 		a {
					 		&:hover{
							 border:1px solid #CCC;
							 padding:4px 4px 1px 4px;
							 text-decoration:none;
							}
					 		text-decoration:none;
					 		padding:5px 5px 2px 5px;
					 		margin-left:15px;
					 		line-height:16px;
						 	.arrow-right {
						 		&.hiddenarrow {
				 				background-position: 0 -75px;
				 				}
							 	height:16px;
						 		width:10px;
						 		display:inline-block;
						 		background:url("../images/calendar-sprite.png") -1px -41px no-repeat  transparent;
						 		padding:0;
						 		margin-left: 0px;
						 		cursor:pointer;
							}
						}
				 	}
				 	.month {
					 	text-align:center;
					 	font-family:$font-stack;
						font-size:16px;
						color:#333;
				 	}
				 
				 &.first-calendar {
						.activefirstcal {
							background: #CBF1FD;		
						}
						.hoverfirstcal {
							background: #CBF1FD;
							a{
								color:#FFF;
							}
						}
						.activeselectfirstcal {
							background-color:#fff;
							a {
								background: #006699;
								color:#FFF;
							}
							&.hoverselectfirstcal {
								background-color:#fff;
							}
						}
						.hoverselectfirstcal {
						 	background-color:#fff;
						    a {
								border: 1px solid #0033DD;
							}
							
							&.activeselectfirstcal {
								a{
									background:#CBF1FD;
								}
							}
						}
					}
					
				}
			}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .vmf-calContainer {
   	line-height:30px;
   }  
}
.vmf-dateContainer .disabledarrow {
	border: 0 !important; 
	cursor:no-drop ;
}
.calendercontainer .vmf-dateContainer .table-condensed .prev a.disabledarrow {
	.arrow-left, .arrow-right {
		cursor:no-drop ;
	}
} 