.vmf-calContainer {
	.vmf-calInput
	{
		margin-left:0px;
		color:#333;
		&.placeholdersjs {
			color:#999999;
		}
	}
	.contractText
	{
		display:inline;
	}
	.calIcon
	{
		top:7px;
		right:7px;
	}
}
.calendercontainerActive {
	
	z-index:9999;
}
.calendercontainer {
	left: 0px;
	top:33px;
	width:545px;
	.vmf-dateContainer{
		.calSubHeader{
			.yearDropDown  {
				.vmf-dropdown {
					.vmf-dropdown-content
					{
						background:url(/images/arrow.png) no-repeat 97% 5px;
						filter:none;
						.dropDownListItems	{
						right:0px;
						}
						 		
					}
				}
			}
		}
	}
	 	.tableBorder
			{
				border-right:1px solid #e6e6e6;
				.first-calendar
					{
						border-bottom:0;
					}
			}
		.vmf-dateContainer
			{
				float:left;
				min-height:275px;
				margin-bottom: 15px;
			}

	.table-condensed
	{
		margin-right:0;
		td
		{
			padding:7px 12px;
			 
		}
	&.first-calendar 
	{
	 padding-bottom: 0;
	}
	}
}
.calendercontainer .vmf-dateContainer .table-condensed td a,.calendercontainersingle  .vmf-dateContainer .table-condensed td a{
	height: 15px;
	width: 20px;	
}
.calendercontainersingle  .vmf-dateContainer .table-condensed td a:hover{
	height: 13px;
	width: 18px;
}
.calendercontainer .vmf-dateContainer .calSubHeader .yearDropDown .vmf-dropdown .vmf-dropdown-content .dropDownListItems {
	left:-8px;
}
.calendercontainer .vmf-dateContainer .calSubHeader .yearDropDown .vmf-dropdown .vmf-dropdown-content .dropDownListItems {
	width:70px;
}
.vmf-calContainer {
    width:260px;
	position:relative;
}
.vmf-calContainer .calIcon {
	position:absolute;
}
.calendercontainersingle .vmf-dateContainer .calSubHeader .yearDropDown .vmf-dropdown .vmf-dropdown-content {
	background:url(/images/arrow.png) no-repeat 97% 5px;
	filter:none;
}
