.bigFooterBg {
    background:$vmf-bigFooter-bg;   
}
.vmf-bigfooter{
  
  padding:0px 10px;
  position:relative;
  .main-title{
        margin-left:45px;
        margin-top:35px;
        font-family:$font-stackSemiBold;
        font-size:22px;
        color:$vmf-bgColor;
	}
	.nav-section {
		width:100%;
		overflow:hidden;
        padding-bottom:66px;
		ul {
			margin-top:30px;
            border-left:1px solid $vmf-bigFooter-border;		
			float:left;
            position:relative;
            z-index:1000; 
			&.first {
				border:none;
				/*padding-left:45px;*/
			}
            &:nth-child(odd) {
                border-left:none;
            }
            
			li {                  	
                padding:0 10px 4px;
				&.title{
					margin-bottom:7px;
					font-family:$font-stackSemiBold;
					color:$vmf-bgColor;
                    line-height:16px;
				}
				a{
					font-family:$font-stack;
					color:$vmf-gray-vdarker;
					padding-left:0;
					padding-right:0;
					padding-bottom:0;
					&.first{
						padding-top:0;
					}
					&:hover{
						color:$vmf-bigFooter-navHover;        
					}
				}
			}		
		}
		&.gray {
			background-color:$vmfBorderColor;
			ul {
				border-left:1px solid $vmf-bigFooter-border2;
				li{
					&.title {
						color:$vmf-bigFtr-anchrTitle; 
					}
					a {
						color:$primary-teal;
						&:hover{
							color:$vmf-bigFooter-grayHover;
						}
					}
				}
			}
		}
	}
	.common-section{
		margin-top:0px;           
        position:relative;
        z-index:1000;
		.copy-right{
		  margin-bottom:2px;
		  color:$vmf-gray-vdarker;
		  font-family:$font-stack;
		  font-size:14px;
            
		}
		.horizontal-menu{
			padding-bottom:50px;
			li{
				display:inline-block;
				margin-right: 14px;
				a{
					color:$vmf-gray-vdarker;
					font-family:$font-stackSemiBold;
					font-size:14px;
					padding-left:0px;
                    padding-right:0;
					&:hover{
					  color:$vmf-bigFtr-hrzntlHover;
					}
				}
			}
		}
	}
  
	.footer-bg{
	   width: 398px; 
	   height: 234px; 
	   background: transparent url("../images/footer-bg.png") no-repeat right bottom; 
	   position:absolute;
	   bottom:0;
	   right:0;
       background-size:30% auto;
    }

}
.secondFooter {
    //margin-top:50px;
    background: $utility-FooterBckgrnd;
    .vmf-bigfooter {
        .footer-bg {
            background: none; 
        }
        .horizontal-menu {
            padding-bottom:25px;            
            
        }
    }
    
}

.width-half {
  width: 50%;
}

.secondFooter  {
    .common-section {
        padding-top:25px;
        padding-left:0;        
    }
}
.vmf-footerWrap {
     max-width: 100%;
     margin: 0 auto;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-tablet) { 
    .vmf-bigfooter {        
        .footer-bg {            
            background-size:50% auto;   
        }
        
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-desktop) { 
    .vmf-bigfooter { 
        
        .footer-bg {            
            background-size:auto auto;   
        }
        
    }
    .wide-1{
        width:100%;
    }
    .wide-2{
        width:50%;
    }
    .wide-3{ 
        width:33.333%;
    }
    .wide-4{
        width:25%;
    }
    .wide-5{
        width:20%;
    }
    .wide-6{
        width:16.66%;
    }
    .vmf-bigfooter {
        .nav-section  {        
            padding-left:25px;
            ul {               
                &:nth-child(odd) {
                    border-left:1px solid $vmf-bigFooter-border;       
                }
                &.first{
                    border:none;
                }
                    
            }
        }
    }
    .common-section {
        padding-left:25px;  
        padding-right:310px;     
    }
    .secondFooter  {
        .vmf-bigfooter {            
            .nav-section {
                padding-left: 35px;
                ul {
                    &:nth-child(2n+1) {
                        border-left: 1px solid $vmf-bigFooter-border2;
                    }
                    &.first{
                        border:none;
                    }
                }
            }            
        }
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-desktop) { 

}


