<!--Big Footer component-->

<div ng-controller="bigFooterController">
    <div vmf-bigfooter options="footerConfig" class="bigFooterBg"></div>
    <br />
    <br />
    <div vmf-bigfooter options="footerConfig1" class="secondFooter"></div>
</div>

