<!-- Pagination Component -->

<div ng-controller="paginationCtrl">
	<h2>Pattern 1</h3>
	<div vmf-pagination2 type="1" page-data="inputHTML"  articles-per-page="2"></div>
	<!-- <vmf-pagination2 type="2" page-data="inputHTML"  articles-per-page="2">

	</vmf-pagination2> -->

	<h2>Pattern 2</h3>
	<div vmf-pagination2 type="2" page-data="inputHTML"></div>
	<!-- <vmf-pagination2 type="2" page-data="inputHTML">

	</vmf-pagination2>	 -->

    <!-- <vmf-pagination patternone="true"></vmf-pagination> -->
    <!-- <vmf-pagination patterntwo="true"></vmf-pagination> -->
</div>