.vmf-formTemplate {
    .formTemplate-buttonDeviders {
        margin: 45px 0px 32px 0px;
        border-bottom: 3px solid $nav-tabs-border-color;
        border-top: 3px solid $nav-tabs-border-color;
    }
    .formTemplateSection {
        .formSection {
            .labelHeader {
                padding-top: 6px;
            }
        }
    }
    .inline-checkBox {
        padding: 15px 0;
    }
    .vmf-phone-number {
        width: 43.5%;
    }
    .formInputClass {
        display: block;
    }
    .vmf-formTextareaLabel {
        font-family: $font-stackSemiBold;
    }
    .requiredFeild {
        padding-left: 0px;
        padding-bottom: 14px;
        display: block;
    }
}
.help-text {
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: $font-stackLight;
}
.vmf-checkbox-group {
    .formSection {
        padding-top: 0px;
        margin-bottom: 0px;
        .labelHeader {
            padding-left: 0px;
            margin-bottom: 3px;
        }
    }
}
.formTemplateSelect {
    &.positionTip {
        .toolTip-icon {
            margin-top: 40px;
        }
        > div {
            width: 80%;
        }
    }
}
@media (min-width: $screen-tablet) {
    .help-text {
        position: absolute;
        top: 35px;
        left: 16px;
    }
    .business_phone {
        vmf-text-input {
            display: inline-block;
        }
        .col-md-1 {
            width: 10%;
            padding: 0px 13px;
        }
        .businessText {
            width: 21%;
            padding-right: 13px;
        }
        .businessExt {
            float: left;
            width: auto;
        }
    }
}
/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-desktop) {
    .formTemplateSelect {
        &.positionTip {
            .toolTip-icon {
                margin-top: 6px;
            }
            > div {
                width: auto;
            }
        }
    }
    .vmf-formTemplate {
        .requiredFeild {
            padding-left: 26.5%;
        }
        .form_zip_code {
            input {
                width: 175px;
            }
        }
        .formTemplateSelect {
            .col-md-2 {
                width: 25%;
            }
        }
    }
}