  .vmf-formTemplate {
      color: $vmf-gray-darker;
      .requiredFeild {
          padding-left: 26.5%;
      }
      .formTemplateSection {
          .formSection {
              .labelHeader {
                  margin-top: -5px;
              }
          }
      }
      .formTemplateSelect {
          .col-md-2 {
              width: 25%;
          }
      }
      .form_zip_code {
          input {
              width: 175px;
          }
      }
      .vmf-dropdown-content ul {
          border: 1px solid $vmf-drpDwnUl-border;
      }
      .business_phone {
          vmf-text-input {
              display: inline-block;
          }
          .businessText {
              width: 21%;
              input {
                  width: 175px;
              }
          }
          .businessExt {
              float: left;
              padding-left: 12px;
              width: auto;
          }
          .businessExtTxt {
              padding-right: 0;
              width: 6%;
              width: 10.9%;
          }
      }
      .vmf-checkbox-group {
          .formSection {
              .labelHeader {
                  padding-right: 15px;
              }
          }
      }
      .form-group {
          .col-md-4 {
              width: 37%;
          }
      }
  }
  .help-text {
      position: absolute;
      top: 35px;
      left: 16px;
  }
  .formTemplateSelect {
      &.positionTip {
          .toolTip-icon {
              margin-top: 6px;
          }
          > div {
              width: auto;
          }
      }
  }