<div>
    <div class="row vmf-table-wrapper-container">
        <div class="col-md-12 table-wrapper" >
            <table class="table vmf-table table-striped table-bordered {{classes}}">
			
				<thead >
                    <tr>
                        <th vmf-table-header-renderer
                            style="width:{{column.width}}px;"
                            ng-repeat="column in columns"    
                            column="column"                      
                            class="header {{column.thClass}} unselectable"      
                            ng-click="sortBy(column, $event);"
                            ng-show="column.visible === undefined || column.visible"                            
                            ng-class="{'sortable': column.sort, 
                            'sort-desc': column.sorted == 'sort-desc', 
                            'sort-asc': column.sorted == 'sort-asc',
                            'drag-accept':column.draggable === undefined || column.draggable}"
                            unselectable="on">
                        </th>
                    </tr>
                </thead>
			
                <tbody ng-repeat="item in data">                      
                    <tr ng-if="item.isParent" class="group-header">
                        <td ng-repeat="column in columns" ng-if="(!$index)" ng-attr-colspan="{{columns.length}}">
                            <span class="bold"> {{item.type}}</span>
                       </td>
                    </tr> 
                    <tr ng-if="!item.isParent" ng-class="{'row-even': $even, 'row-odd': $odd}"
                        class="vm-rows"> 
                       <td vmf-table-cell
                            cell-renderers="cellRenderers"
                            selected-rows="selectedRows"
                            item="item"
                            field="{{column.field}}"
                            column="column"
                            ng-repeat="column in columns"
                            class="{{column.tdClass}}" >
                        </td>
                     </tr>  
                </tbody>
            </table>
        </div>
    </div>
</div>