 .vmware-carosuel-title {
  margin: 21px 0 19px 45px;
  color: #333333;
  font: 22px $font-stackSemiBold;
}

.vmware-carosuel-wrapper-container{
   .carosuel-img-caption {
      p {
        margin-top: 7px;
      }
    }
  }

.vmware-carosuel-wrapper-container {
  .vmware-carosuel-inner-wrapper-container{
    padding-bottom: 39px;    
  }
}

