<!--<div class="menuList mainMenulist">
    <ul class="mainlistItem">
        <li ng-repeat="item in navMenu" class="level-1" id="{{item.id}}">
            <a href="javasript:void(0);" class="globalItem" title="{{item.title}}">{{item.title}}</a>
            <div class="mainMenu">
                <h3><a href="#" class="subHeading" title="{{item.title}}">{{item.title}}</a></h3>
                <div ng-repeat="subItem in item.menu" class="menuContent">

                    <div class="col {{key}}" ng-repeat="(key,miniItem) in subItem">
                        <div ng-repeat="submenu in miniItem.submenu">
                            <h4>{{submenu.title}}</h4>
                            <ul>
                                <li ng-repeat="miniItem in submenu.items">
                                    
                                    <h5 ng-if="!miniItem.href">{{miniItem.title}}</h5>
                                    <a ng-href="miniItem.href" ng-if="miniItem.href">
                                       {{miniItem.title}}
                                    </a>                                   
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
               
                <a ng-if="item.viewMore" href="#" class="viewMore">{{item.viewMore}}</a>               

            </div>
        </li>
    </ul>
    
</div>-->

