input[type="psearch"]::ms-clear,
input[type="psearch"]::ms-reveal {
    display: none;
    height: 0px;
    width: 0px;
    visiblity: hidden;
}
input[type="text"],
input[type="password"],
textarea {
    @include box-sizing(border-box);
    @include boxShadow(inset 1px 4px 7px -6px $grayColor);
    width: 100%;
    border: 1px solid $gray-light;
    overflow: visible;
    padding: 6px 10px;
    padding: 7px 10px \9;
    resize: none;
    font-family: $font-stack;
    font-size: 0.875rem;
    vertical-align: middle;
    border: 1px solid $vmf-borderColor;
    color: $vmfTextInputColor;
    line-height: 16px;
    &:focus {
        border: 1px solid $vmf-inputFocusColor;
    }
}

input[type="text"]:-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="text"]::-moz-placeholder {
    color: $vmf-placeholderColor;
}
input[type="text"]:-ms-input-placeholder {
    color: $vmf-placeholderColor;
}
input {
    &.placeholdersjs {
        color: $vmf-placeholderColor;
    }
}
.placeholderWrap {
    position: relative;
    .placeholder {
        color: $vmf-placeholderColor;
        position: absolute;
        left: 25px;
        top: 8px;
        font-size: 14px;
        line-height: 14px;
        z-index: 99;
        font-family: $font-stack;
    }
}

.searchArea {
    position: relative;
}
.searchBtn {
    background: #FFF url(/images/search.png) no-repeat right center;
    width: 16px;
    border: 0;
    position: absolute;
    height: 16px;
    right: 10px;
    top: 7px;
    float: left;
    z-index: 100;
}
.maxWidth240 {
    width: 240px
}
.searchArea,
.vmf-combobox {
    input[type="text"] {
        padding-right: 30px;
    }
    .searchWrap {
        display: none;
        border: 1px solid $gray-light;
        margin-top: -5px;
        z-index: 1000;
        li {
            a {
                font-size: 0.875rem;
                display: block;
                padding: 10px;
                line-height: 5px;
                color: $labelColor;
                span {
                    font-family: $font-stackSemiBold;
                    color: $labelColor;
                    font-size: 0.875rem;
                }
            }
            &:hover,&:focus {
                background: $search-link-hover-bg;
            }
        }
    }
    &.active {
        .searchBtn {
            background: #FFF url(/images/cross.png) no-repeat right center;
            width: 16px;
            height: 15px;
            top: 8px;
            cursor: pointer;
        }
        .searchWrap {
            position: absolute;
            left: 0;
            top: 35px;
            top: 33px \0;
            background: $vmf-bgColor;
            display: block;
            width: 100%;
        }
    }
}

.shortDesc {
    color: $vmf-shortDescColor;
    font-size: 16px;
    display: block;
    clear: both;
    font-style: italic;
    position: relative;
    left: 0;
    line-height: 16px;
    font-family: $font-stack;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: $screen-tablet) {}
/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-desktop) {
    .shortDesc {
        position: absolute;
    }
}
/* Large devices (large desktops, 1200px and up) */

@media (min-width: $screen-lg-desktop) {}