input[type="text"],
input[type="password"],
textarea{
    font-size:14px;
    padding: 6px 10px;
}
.vmf-text-input {  
    .searchArea {
        li{
            height:25px;
            line-height:0px;
        }
        input[type="text"] {       
            padding-right:10px;
        }
        
    }
    input[type='text'],input[type='password']{
        width:94%;
    }
}
.searchWrap {
    z-index: 1000;
 	li { 
        a {            
            span {
                font-weight:bold;
                font-size:14px;	
            }
        }
        
    }
}
.shortDesc {
    top:auto;  
    bottom:0;
    position: absolute;
}
.clearAll {
    display: block;
    overflow: hidden;
}
