  .vmf-formTemplate {
      color: #333;
      vmf-text-input {
          input[type="text"] {
              height: auto;
              line-height: auto;
              font-size: 16px;
              font-family: $font-stackLight ;
          }
      }
      .formTemplateSection {
            .formSection  {
                .labelHeader  {
                    margin-top: -5px;   
                }
            }
            .custom-checkbox   {
                margin-bottom: 4px;   
            }
        
    }
      .formTemplateSelect {
          .col-md-2 {
              width: 25%;
          }
      }
      .formTemplate-buttonDeviders {
          margin: 60px 0px 30px 0px;
          border-bottom: 3px solid $nav-tabs-border-color;
          border-top: 3px solid $nav-tabs-border-color;
          .custom-checkbox {
              font-family: $font-stackSemiBold;
              padding: 15px 0;
              display: table-cell;
              .customCheckBox{ 
                  margin-top: 4px;
               }
              a {
                  color: #006990;
              }
          }
          .formSection{
                padding-top: 0px;
            }
          .col-md-12 {
              padding-left: 0px;
          }
      }
      .formLabel {
          padding: 4px 0px 0px 10px;
          color: #333333;
      }
      
      .formTemplateSelect {
          margin-bottom: 25px;
      }
      .vmf-secondary {
          margin-left: 4px;
         
      }
      .form_zip_code {
          input {
              width: 175px;
          }
      }
     
      .vmf-dropdown-content ul {
          border: 1px solid #D0D0D0;
      }
      
      .business_phone {
          label {
              font-family: $font-stackSemiBold;
              padding-left: 0;
          }
          vmf-text-input {
              display: inline-block;
          }
          .help-text {
                position: absolute;
                display: block;
                width: 100%;
                top: 35px;
                left: 16px;
                white-space: nowrap;
                font-size: 14px;
                font-family: $font-stackLight ;
            }
          .businessText {
              width: 21%;
              input{
                    width: 175px;
                  }
          }
          .businessExt {
              float: left;
              padding-left:12px;
          }
          .businessExtTxt {
              padding-right: 0;
              width: 6%;
          }
          .col-md-1{
                width: 10.9%;
                padding: 0px 10px 0px 9px;
            }
      }
      .vmf-checkbox-group {
          .formSection {
              .labelHeader {
                  padding-right: 15px; 
              }
          }
      }
      .radio-controls {
          .formSection {
              .labelHeader {
                  padding-right: 15px;
              }
          }
      }
      .form-group {
            .col-md-4 {
                width:37%;
            }
        }
  }