
.coachmarks-closeBtn {
  width: 65px;
  height: 65px;
}

.coachmarks-hintHolder {    
  padding-bottom: 23px;
}

.coachmarks-title {
  margin-top: 14px;
}

.coachmarks-description {
  margin-top: 2px;
}

.coachmarks-paging {
  bottom: 45px;
}

.coachmarks-viewCoachMarks {
  width: 114px;
  top: 25px !important;
}