
.coachmarks-closeBtn {
  width: 65px;
  height: 65px;
}
.coachmarks-hintHolder{
	width:400px;
	padding-bottom: 24px;
}

.coachmarks-title {
  margin-top: 13px;
}

.coachmarks-description {
  margin-top: 2px !important;
}

.coachmarks-paging {
  bottom: 50px;
}

.coachmarks-viewCoachMarks {
   width: 114px;
   top: 25px !important;
}