.coachmarks-coach-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999998;
}

.coachmarks-coach-overlay .shadowlayer {
    background: url(../images/coachMarks/overLayTransparent.png) repeat;
    z-index:9999998;
    position:absolute;
}

.coachmarks-viewCoachMarks {
  display: none;
  font-size: 14px;
  position: absolute;
  right: 45px;
  top: 26px \9 !important;
  top: 27px;
  font-family:$font-stack;
  width: 110px;
  background-image: url('../images/help_Icon.png');
  background-repeat: no-repeat;
  text-align: right;
}

.coachmarks-lineDiv {
  width : 0px;
  height : 0px;
  position: absolute;
  border : 1px solid #c2cd23;
}


.coachmarks-closeBtn {
  cursor: pointer;
  right: 0px;
  top : 0px;
  position:fixed;
  width: 30px;
  height: 30px;
  background: #0091d3 url(../images/coachMarks/coach_close.png) center  center no-repeat ;
  z-index:99999998;
}

.coachmarks-disabled-layer {
  cursor: not-allowed;
  border: 2px solid #c2cd23;
  position : absolute;
  background: url(../images/coachMarks/blank.gif) repeat;

}

.coachmarks-title {
  color: #c2cd23;
  font-size: 18px;
  margin-left: 24px;
  margin-top: 15px;
  margin-top: 14px \9;
  font-family:$font-stack;
}

.coachmarks-description {
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 24px;
  margin-top: 2px;
  margin-top: 1px \9;
  font-family:$font-stack;
}

.coachmarks-hintHolder {
  width: 320px;
  position : absolute;      
  padding-bottom: 22px;
  background: url(../images/coachMarks/overLayTransparent.png) repeat;
}

.coachmarks-paging {
  width: 100%;
  position: fixed;
  z-index: 99999999;
  bottom: 44px;
  bottom: 43px \9;
  text-align: center;
}

span.coachmarks_pagination {
  width: 12px;
  height: 12px;
  background-image: url("../images/coachMarks/coach_pagination.png");
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 13px;
  &.active {
    width: 12px;
    height: 12px;
    background-image: url("../images/coachMarks/coach_pagination_active.png");
    display: inline-block;
  }
}

.coachmarks-leftNavigation {
  width: 42px;
  height: 42px;
  background: url("../images/coachMarks/left_arrow_grey.png");
  border: 0;
  outline: none;
  margin-right: 35px;
  cursor: pointer;
}

.coachmarks-rightNavigation {
  width: 42px;
  height: 42px;
  border: 0;
  outline: none;
  margin-left: 25px;
  background: url("../images/coachMarks/right_arrow_grey.png");
  cursor: pointer;
  &[disabled] {
    background: url("../images/coachMarks/right_arrow_disabled.png");
    cursor: default !important;
  }
}

.coachmarks-leftNavigation[disabled] {
  background: url("../images/coachMarks/left_arrow_disabled.png");
  cursor: default !important;
}

.coachmarks-paging {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  /* IE 5-7 */
  filter: alpha(opacity=20);
  /* Netscape */
  -moz-opacity: 0.2;
  /* Safari 1.x */
  -khtml-opacity: 0.2;
  /* Good browsers */
  opacity: 0.2;
  &:hover {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */    
    opacity: 1;
  }
}

@-moz-document url-prefix() {

.coachmarks-title {
  margin-top: 15px;
}

.coachmarks-viewCoachMarks {
  top: 25px;
  right: 44px;
}

.coachmarks-description {
  margin-top: 1px;
}
  span.coachmarks_pagination {
    margin-bottom: -7px;
  }

  .coachmarks-hintHolder {   
  padding-bottom: 23px;
  }
  .coachmarks-paging {
  bottom: 50px;
}
}

.coachmarksWrapper{
  position:absolute;
}


.tourthispageLink {
  cursor: pointer;
  float: right;
}
@media screen and (min-width: 768px) {
  .coachmarks-closeBtn {
  width: 65px;
  height: 65px;
  }
  .coachmarks-hintHolder {
    width: 400px;
  }  
}

.vmware-coachMark-logo{
  background: url("/images/logo-b.png") no-repeat center !important;
  height: 39px !important;
  width: 184px !important;
}