<!-- Coachmarks block starts -->
<a class="vmf-btn vmf-secondary vmf-btn-large" href="/CoachMarks.html" target="_blank">Coach Marks</a>



<!-- Coach Marks Html Markup Starts Here -->

 <!-- <div class="pageWrap">
             <div class="col-sm-12 noPadding">
                <div class="vmf-UtilityNavContainer">
                    <div ng-controller="utilityCtrl" class="utilityContainer">
                        <div vmf-utility list="navList" country="United States" countryhint="Select a Country Region" searchhint="search">
                        </div>
                    </div>
                </div>
            </div>
        <div class="pageContainer  clearfix">
            
            <div class="globalZindex clearfix">
                <div class="col-sm-12 noPadding ">
                    <div class="vmf-gridGlobalNavContainer">
                        <div class="vmf-globalNavigation" ng-controller="globalNavCtrl">
                            <a class="vware-logo" href="javascript:void(0);">Vmware logo</a>
                            <a href="javascript:void(0);" id="navMenuMobile" class="menu-link menu-link-primary" ng-click="showDetails = ! showDetails">Menu</a>   
                            <menu nav-menu="navMenu" show-details="showDetails" class="level-1" ng-show="showDetails"></menu>
                           
                        </div>  
                    </div>
                </div>
            </div>
            <div class="vmf-GridMainContainer clearfix">
                <div class="col-xs-12 col-md-8 noPadding">
                    <div class="vmf-heroContent">
                        <div ng-controller="backlinkController">
                            <div vmf-backlink link="{{toLink}}" title="{{toTitle}}"></div>
                            <h1 id="screenTitle">Title</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 noPadding">
                    <div class="vmf-quickLinks">
                        Quick Links  
                        <span  ng-controller="coachmarksCtrl">
                        <vmf-coach-marks config="config"></vmf-coach-marks>
                        </span>   
                    </div>

                </div>
            </div>

            <div class="vmf-GridSectionContainer">
                <div class="col-sm-12 col-md-4 noPadding">
                    <div class="vmf-GridIntrdctn">
                        Introduction
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 noPadding">
                    <div class="vmf-GridProducts">
                        Featured Products
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 noPadding">
                    <div class="vmf-GridOverview">
                        Company Overview
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix vmf-GridFooterContainer">
                <div ng-controller="bigFooterController">
                    <div vmf-bigfooter options="footerConfig"></div>
                </div>
            </div>
             
    </div>

        <br />
        <br />

        <div class="pageWrap">
            <div class="pageContainer">
                <div class="col-sm-12 noPadding ">
                    <div class="vmf-UtilityNavContainer">
                        Utility Navigation2
                    </div>
                </div>
                <div class=" globalZindex">
                    <div class="col-sm-12 noPadding ">
                        <div class="vmf-GlobalNavContainer">
                            <div class="vmf-globalNavigation" ng-controller="globalNavCtrl">
                                <div class="navDiv">
                                    <a class="vware-logo" href="javascript:void(0);">Vmware logo</a>
                                    <a href="javascript:void(0);" class="menu-link menu-link-primary" ng-click="showDetails = ! showDetails">Menu</a>
                                    <menu nav-menu="navMenu" show-details="showDetails" class="level-1" ng-show="showDetails"></menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-12 noPadding">
                        <div class="vmf-MainContainer">
                           <div ng-controller="backlinkController">
                                <div vmf-backlink link="{{toLink}}" title="{{toTitle}}"></div>
                                <h1>Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vmf-FooterContainer">
                <div ng-controller="bigFooterController">
                    <div vmf-bigfooter options="footerConfig1" class="secondFooter"></div>
                </div>
            </div>
        </div>  -->
        